[2014-07-24 23:31] bermud opened #1 "Fix reference error in test decription for document 09-147"
Fix reference error in http://cite.opengeospatial.org/te2/about/wcskvp/1.0/web/

Replace OGC 09-147r2 with OGC 09-147r3

[Originally reported in the OGC CITE issue tracker: issue #881](https://portal.opengeospatial.org/services/srv_public_issues.php?call=viewIssue&issue_id=881)

_Opened: 2013-10-24 15:39:01 Last Updated: 2013-10-31 10:01:54_

[2014-07-24 23:33] bermud opened #2 "Fix text in welcome page - Instead of KVP should be POST"
Fix text in welcome page -  Instead of KVP should be POST
Welcome page:
http://cite.opengeospatial.org/te2/about/wcspost/1.0/web/

[Originally reported in the OGC CITE issue tracker: issue #879](https://portal.opengeospatial.org/services/srv_public_issues.php?call=viewIssue&issue_id=879)

_Opened: 2013-10-24 15:36:40 Last Updated: 2013-10-31 10:02:30_

[2014-07-24 23:35] bermud opened #3 "TBD tests in official suites"
I noticed that there are several ToBeDone's (grep TBD) in WCS testsuite,
especially on SOAP requests. These tests are actually run and give a green
light in the final results, but they are not evaluated in practice.
[Originally reported in the OGC CITE issue tracker: issue #911](https://portal.opengeospatial.org/services/srv_public_issues.php?call=viewIssue&issue_id=911)

Entered by: Meissl, Steph

[2014-09-14 00:08] aaime opened #4 "Harness keeps on downloading large amounts of xsd for each test"
Quoting the Tomcat internet activity while a test is running (using a proxy to intercept):

[code]

The tests should have these available locally, no need to fetch them from the net over and over? At least, the fetched xsds should be cached.

[2014-11-12 21:48] bermud opened #5 "Test failure - java.lang.reflect.InvocationTargetException"
Tested master branch with reference implementation: http://ows.eox.at/cite-wcs
Test has not change. In beta is passing fine.

[code]

[2014-11-12 23:04] #5 closed, assigned to rjmartell

[2015-02-20 00:31] bermud commented on #2
@jinsongdi123 please take a look at the welcome page and clarify what is available in the test. Thank you!

[2015-02-20 00:33] bermud commented on #4
@jinsongdi123 can this be fixed probably calling local schemas? I know in other tests we call local schemas instead of remote ones, which speed up the process. Thank you !

[2015-02-20 00:37] bermud commented on #3
I suggest:
- remove  TBD "faked' tests.
- create an issue related to what needs to be done related to SOAP,  for remembering/managing purposes.
What do you all think @Schpidi @jinsongdi123

[2015-02-21 09:44] jinsongdi123 commented on #3
The TBD has been removed.
The SOAP for GetCoverage will be done after the update of SOAP extension.

[2015-02-21 09:44] #3 closed

[2015-02-21 09:49] jinsongdi123 commented on #4
Current WCS xsd is already the local one. However, it relies on gml 3.2.1, iso 19139 and etc.. Therefore, it will have to fetch them according the xsd reference.

[2015-02-21 09:51] jinsongdi123 commented on #2
the text has been updated and uploaded to the wcs-exts branch

[2015-02-21 09:51] #2 closed

[2015-02-21 10:04] pebau commented on #3
thanks, Jin!
-Peter

On 02/21/2015 10:44 AM, jinsongdi123 wrote:

--
Dr. Peter Baumann
 - Executive Director, rasdaman GmbH Bremen (HRB 26793)
   www.rasdaman.com, mail: baumann@rasdaman.com
   tel: 0800-rasdaman, fax: 0800-rasdafax, mobile: +49-173-5837882
 - Professor of Computer Science, Jacobs University Bremen
   www.faculty.jacobs-university.de/pbaumann
   mail: p.baumann@jacobs-university.d

[2015-02-21 21:07] bermud commented on #4
Jin, still I think we can copy them locally!

[2015-02-22 14:01] jinsongdi123 commented on #4
Luis, the complete xsd has been uploaded to wcs-exts/src/main/resources.

[2015-02-22 14:01] #4 closed

[2015-02-23 15:30] bermud commented on #4
Thank you Jin, don't we need to do any changes in the CTL to call the local schemas?

[2015-02-24 04:19] jinsongdi123 commented on #4
Current CTL uses the local xsd. Therefore, only update the xsd ref will keep the validation locally.

[2015-02-24 14:17] bermud commented on #4
Great. Will need to check now the speed performance. Thank you!

[2015-03-02 14:15] bermud opened #6 "Incorrect 404 Error Response"
req24: When a WCS server encounters an error while performing a GetKVP DescribeCoverage operation it shall return an exception report message chosen as specified.

req41: When a WCS server encounters an error while performing a GetKVP GetCoverage operation it shall return an exception report message as specified.
Test HTTP status codes for OGC Exceptions.

The tests expect a status code of 404 bec

[2015-03-05 22:11] bermud commented on #1
was fixed in 182050b21fd21a3c63e00f482b450cd33bada82b

[2015-03-05 22:11] #1 closed

[2015-03-05 22:13] bermud commented on #6
@pebau, We think this should be discussed in the WG.

[2015-03-12 16:21] bermud commented on #6
OWS Common (OGC 06-121r9) states different codes and examples. I think the server should return 400.

400 Bad Request The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).

![404](https://cloud.githubusercontent.com/assets/3738898/6622309/2562f7d6-c8d

[2015-03-13 15:52] yyx350 commented on #6
According to OGC 06-121r9,"... OWS instance shall set the HTTP response’s status code to the
corresponding value for the given exceptionCode values, as shown in Table 28", 400 is the code for generic OWS exceptions, such as MissingParameterValue, InvalidParameterValue, VersionNegotiationFailed, and InvalidUpdateSequence. Additionally, OWS spec suggests that "OWS specifications specifying additiona

[2015-03-13 16:00] yyx350 commented on #6
servers can typically be configured to display a customised 404 error page, e.g. NoSuchCoverage, emptyCoverageIdList, and etc. Otherwise, the page will show the default "404 not found"

[2015-03-14 12:28] pebau commented on #6
Just one facet on 200: I find it dangerous to return 200 if obviously something has gone wrong. In this respect, 404 seems appropriate to me when I think of a server saying: "something has gone wrong, but on a higher semantic level, so go see there what was the root cause." Also the definition in https://en.wikipedia.org/wiki/HTTP_404 makes sense to me: "the client was able to communicate with a g

[2015-03-14 12:31] pebau commented on #6
If, however, 404 is perceived as being wrong indeed then IMHO we should escalate it to OAB to get a generic advice that all services can follow, as this to me feels like a fundemantal design decision.

[2015-03-16 22:56] bermud commented on #6
We should follow OWS-Common and wikipedia [1] and return a 400 for client request errors.
It's clear the difference between a 400 (Bad Request) and a 404 (Not Found). If the request was able to reach the server implementing OGC services, then the service should return a 400.

RFC2616 [2] also suggests that 404 should not be the response. "This status code is commonly used when the server does not

[2015-03-17 12:16] pebau commented on #6
Hi coverage activists,

an issue has been raised by Luis, it concerns the response code in certain error
cases [1]. WCS Core specifies, in its exception table, to return a 404 in cases
an item cannot be found. This includes cases like: no such coverage; invalid
axis label; invalid subsetting. When designing WCS Core the perception was that
these cases are different from a "malformed request" (400)

[2015-03-17 13:40] nmtoken commented on #6
Certainly giving an HTTP 200 OK response when serving an error message of any kind is wrong.

I think giving an HTTP 400 Bad Request for a response where the syntax of the request is essentially correct but the values provided are wrong is also incorrect.  In such a situation an HTTP 404 Not Found is more correct, other responses could apply when, for example, a coverage has been removed or rename

[2015-03-18 17:54] pebau commented on #6
interesting, so this supports the status quo of WCS.
Any further voices?
-Peter

On 03/17/2015 02:40 PM, nmtoken wrote:

--
Dr. Peter Baumann
 - Executive Director, rasdaman GmbH Bremen (HRB 26793)
   www.rasdaman.com, mail: baumann@rasdaman.com
   tel: 0800-rasdaman, fax: 0800-rasdafax, mobile: +49-173-5837882
 - Professor of Computer Science, Jacobs University Bremen
   www.faculty.jacobs-univer

[2015-03-18 17:54] pebau commented on #6
(forgot to cc to the coverages list)

On 03/18/2015 06:53 PM, Peter Baumann wrote:

--
Dr. Peter Baumann
 - Professor of Computer Science, Jacobs University Bremen
   www.faculty.jacobs-university.de/pbaumann
   mail: p.baumann@jacobs-university.de
   tel: +49-421-200-3178, fax: +49-421-200-493178
 - Executive Director, rasdaman GmbH Bremen (HRB 26793)
   www.rasdaman.com, mail: baumann@rasdaman.c

[2015-03-18 19:10] tastle commented on #6
I'm here because I caught Peter's share to the coverages mailing list, which I follow :)

404 Not Found
The requested resource could not be found but may be available again in the future. Subsequent requests by the client are permissible.

http://example.com/hello.txt

So hello.txt is the resource.  If I extrapolate beyond that with a query string (for the point of argument)

http://example.com/he

[2015-03-18 19:17] pebau commented on #6
oops, now we have several threads: OGC WCS list, Coverages list, and here. Sorry for the confusion, repeating my WCS.SWG posting here, that should answer the above raised question:
--- snip ----------------
 an issue has been raised by Luis, it concerns the response code in certain error cases [1]. WCS Core specifies, in its exception table, to return a 404 in cases an item cannot be found. This i

[2015-03-19 10:22] nmtoken commented on #6
10.4.1 400 Bad Request

   The request could not be understood by the server due to malformed
   syntax. The client SHOULD NOT repeat the request without
   modifications.

10.4.5 404 Not Found

   The server has not found anything matching the Request-URI. No
   indication is given of whether the condition is temporary or
   permanent. The 410 (Gone) status code SHOULD be used if the server
   kn

[2015-03-19 12:59] tastle commented on #6
I believe there needs to be some consensus as to what the "resource" is.  I think understanding this will answer which error code applies.  I see that some people believe that the resource is the coverage.  I'm here to question that.  I believe the resource is the web service and you're providing modifiers to the service to produce different types of responses, some of which may be coverages.

htt

[2015-03-19 14:07] nmtoken commented on #6
I think we should exclude in the debate how a RESTful service works vs any other architecture, a RESTful service patterned on HTTP, uses  HTTP methods and hypermedia types to allow access to resources, there are no special URI patterns required within a RESTful architecture.  Here, we need to just concentrate on what's allowed in HTTP.

I agree that http://earthserver.bgs.ac.uk/rasdaman/ows is a r

[2015-03-19 14:29] pebau commented on #6
indeed, we have nested resources here: the service as such, and coverages, and bands or regions within a coverage. For each situation there is an individual error code, and 404 was chosen by WCS on coverage/sub-coverage level with the idea that the request as such is correct, but there happen to be no data (no such coverage, not that region in space/time, no such band). Notably, at a later time th

[2015-07-01 15:06] bermud commented on #6
Hi Peter,
Our issue of concern is a WCS request (GetKVP DescribeCoverage operation). This operation (with its variants) are  "Resources". If a WCS server is able to get the request, then it is able to understand that is a WCS operation and that  a client is trying to get a specific resource.

Do we agree that If a parameter (key or value) is incorrect, then the code should be 400 Bad Request?

[2015-07-01 15:18] nmtoken commented on #6
I just can't see how an incorrect value can count as a bad request; the  issue in such a case is not that the server can't understand the request due to malformed syntax (aka bad request) .  The server understands the request, it can't supply the resource because it doesn't exist, this is analogous to web server not being able to provide a web page or an image/stylesheet/javascript file etc 'in' a

[2015-07-01 15:29] pebau commented on #6
Hi Luis,

this is an ongoing issue which also has seen quite some discussion in OAB.

My understanding is that it defines specific codes for specific situations which
arise from the particular semantics. But obviously (?) other codes can occur as
well, for example from lower-level communication layers. So I'd agree that a 400
can occur, eg:
    http://www.acme.com/wcs?SERVICE=WCS&VERSION=2.0&REQQE

[2015-10-14 11:02] bermud opened #7 "Reference Implementation is Failing with TE 4.3"
RI has been tested with TEAM Engine 4.0.1 with the default libs and the WCS 2.0 test v r1.8.  But with the current beta (4.3) is not passing.

 <parsers:HTTPParser> is not parsing the PNG result

Link to RI: http://kahlua.eecs.jacobs-university.de:8080/petascope_wcs2

Maybe we need to update the parsers?

[2015-10-23 07:10] aashishlodha commented on #7
While executing the WCS2.0 test, in the phase where code validates **wcsAll.xsd**,  some initial requests which were returning the xml content got parsed successfully, but in one request it returned the **PNG** image, and it didn't got parsed with **'XMLValidatigParser'**. Following is the URI of that request,

http://kahlua.eecs.jacobs-university.de:8080/petascope_wcs2?SERVICE=WCS&VERSION=2.0.1&R

[2015-10-23 08:14] jinsongdi123 commented on #7
http://kahlua.eecs.jacobs-university.de:8080/petascope_wcs2?SERVICE=WCS&VERSION=2.0.1&REQUEST=ProcessCoverages&query=for c in (mean_summer_airtemp) return encode (c,"png")
returns a png via browser. The http code is 200 OK. (Tested by Fiddler)

However, below ctl request returns "HTTP/1.1 505 HTTP Version Not Supported"

               <ctl:url>
                  <xsl:value-of select="$url"/>

[2015-10-23 09:06] aashishlodha commented on #7
We also need to investigate the 'Accept' header of request we make in code, in browser if we type following URL,
_http://kahlua.eecs.jacobs-university.de:8080/petascope_wcs2?SERVICE=WCS&VERSION=2.0.1&REQUEST=ProcessCoverages&query=for c in (mean_summer_airtemp) return encode (c,"png")_

it will be 'text/html' by default, but you look into the 'Network' tab (of browser's console) for this request's

[2015-10-23 09:25] aashishlodha commented on #7
@Keshav: Please check that the URL is getting encoded or not while making request to the server. Like Chrome replaces spaces in URL with %20; Java may be doing this while sending request out. If it replaces spaces, then it will not return  the image file.

[2015-10-26 05:32] aashishlodha commented on #7
@Keshav: Please check the request and response log for PNG file request we are making. Please use tools like Fiddler to record the Network log, and examine the PNG request/response.

[2015-10-28 07:21] keshav-nangare commented on #7
1. I have tried with the fiddler tool to get all the request and reponse.
By using this tool we found the PNG request get returned the 505 response, following is the request and response in fiddler:-

	Request in fiddler:
	-------------------------------------------------------------------------------------------------------------------
	GET http://kahlua.eecs.jacobs-university.de:8080/petascope_w

[2015-11-19 13:11] keshav-nangare commented on #7
Hi,

Here is some problem with the image-parser:

In one request server returned the image and I have used the image parser to parse that image to check the returned image is PNG or not.

But image-parser failed to parse this image (The exception is "Failed to parse multipart/x-mixed-replace; boundary=End resource from file:/home/keshav/CATALINA_BASE/temp/$te_4966216358531816169.tmp").

Follwoing

[2015-11-19 23:21] rjmartell commented on #7
The request may specify a request header if desired. For example:
[code]

Since the `<parsers:type />` config element appears under parsers:ImageParser, the summary info returned by the image reader should report the actual media type of the response (it may only report the media subtype, e.g. "png").

[2015-11-20 17:00] rjmartell commented on #7
Note that the `ImageParser` is chained to the `HTTPParser`. The parse result should look something like the following (I checked it by retrieving [this test image](http://www.fnordware.com/superpng/pnggrad16rgb.png)):
[code]

The Content-Type header is already collected by the HTTPParser so the ImageParser adds nothing in this case.

[2015-11-20 17:27] rjmartell commented on #7
Regarding test `wcs2:get-proc-req8-10` (in ext_get-proc.xml), "Check that the result is correct" is not a testable assertion. What exactly is expected here? Just any image in the entity-body?

[2015-11-23 08:26] jinsongdi123 commented on #7
Indeed, the result shall be a multipart coverage or a pure png image as indicated by OGC09-146r2 req35 .
When TE generates a valid image request, it shall return '200 OK' instead of '505 HTTP Version Not Supported',as below:

Request d1e64_1:
   Method: get
   URL: http://kahlua.eecs.jacobs-university.de:8080/petascope_wcs2?SERVICE=WCS&VERSION=2.0.1&REQUEST=ProcessCoverages&query=for c in (mean_su

[2015-12-07 04:21] jinsongdi123 commented on #7
The CTL will invoke HTTPParser, then the ImageParser for the pure image result.

[2015-12-07 04:21] #7 closed

[2016-01-26 14:53] bermud opened #8 "url encoding of '+' sign in GetCoverage request"
When running cite tests for WCS 2.0.1, there is an error for test wcs2:get-kvp-core-req1-9.
when this request is send
http://<wcsurl>?service=WCS&VERSION=2.0.1&request=GetCoverage&CoverageId=C0017&format=application/gml+xml

last elements are not correct, the '+' sign is not url encoded. it should be gml%2Bxml

[2016-01-26 23:55] coim32 opened #9 "wrong version of ows in WCS GetCapabilities request"
line 316 of file  ets-wcs20/src/main/scripts/ctl/RequestBase.xml have wrong version of ows namespace
xmlns:ows="http://www.opengis.net/ows/1.1"
it should be
xmlns:ows="http://www.opengis.net/ows/2.0"

[2016-01-27 03:28] jinsongdi123 commented on #9
Thanks. The ctl is updated accordingly

[2016-01-27 03:28] #9 closed

[2016-01-27 03:28] jinsongdi123 commented on #8
Thanks, The ctl is updated accordingly.

[2016-01-27 03:28] #8 closed

[2016-01-27 18:17] coim32 commented on #8
you change was not correct.
change should apply on get request parameters, you applied for post requests.
for example line 326 of DataModel.xml

[2016-01-27 23:19] coim32 opened #10 "test wcs2:get-kvp-core-req42 in GetCoverage.xml allways fail."
if condition in line 2232 of Getcoverage.xml is wrong, if deep-equal passes test fails.
it should be if boundedBy or domainSet or rangeType element is not equals test fails.

[2016-01-28 02:42] jinsongdi123 commented on #10
The CTL is updated accordingly.

[2016-01-28 02:42] #10 closed

[2016-01-28 02:44] jinsongdi123 commented on #8
Thanks, the ctl is updated accordingly

[2016-01-28 17:49] coim32 commented on #10
change is not correct, see my comment

[2016-01-29 15:13] bermud opened #11 "Merge core, post, processing, scaling, interpolation, range subsetting, crs extensions and eowcs profile"

[2016-01-29 15:13] bermud commented on #11
Closed with 9aa9358e9a19dda29bbae4b97355033f0a7ee597

[2016-01-29 15:13] #11 closed

[2016-01-29 15:19] bermud opened #12 "Fixed version metadata in GetCapabilities Post requests"

[2016-01-29 15:20] bermud commented on #12
Fixed with fb7ef4437f033c80368d88fbbd04288f3717c511

[2016-01-29 15:20] #12 closed

[2016-04-12 21:20] coim32 opened #13 "WCS 2.0.1 test fail if all operations and protocols respond using different urls."
A GetCapabilities response can define different URLs for operation(GetCapabilities, DescriveCoverage and GetCoverage) and for each protocol (Get/KVP, HTTP/POST and HTTP/SOAP).
This test scripts does not consider that. They all use the same url. the one the user put when running cite test script.
take a look at file src/main/scripts/ctl/GetCapabilities.xml wcs2:req13, it receive parameters url and

[2016-04-13 15:04] dstenger opened #14 "wcs2:get-kvp-core-req12 fails"
wcs2:get-kvp-core-req12

Assertion: req12: For all WCS request types, test the request version parameter has     a fixed value of '2.0.1' by GetKVP.
Message d9183e2208_1: [MESSAGE] The server does not support the gml coverage.

Result: Failed

[2016-04-13 15:04] dstenger commented on #14
Can you please provide more information?

[2016-04-18 07:47] Vinni0803 commented on #14
Log :

Testing wcs2:get-kvp-core-req12 type Mandatory in Test Mode with defaultResult Pass (s0039/d9714e112_1/d9714e235_1/d1e91_1/d9183e108_1)...

    Assertion: req12: For all WCS request types, test the request version parameter has a fixed value of '2.0.1' by GetKVP.
       [FAILURE] The version in the wcs:Capabilities result should be "2.0.1".
       [MESSAGE] The server does not support the g

[2016-07-13 22:38] coim32 commented on #13
In  ets-wcs20/src/main/scripts/ctl/GetCapabilities.xml file, instead of sending the url as
<ctl:with-param name="url" select="$url"/>
you can send the GetCapabilities response, and latter each test can extract the appropriate url as:
"//*[local-name()='Operation'][@name='DescribeCoverage']//*[local-name()='HTTP']/*[local-name()='Post']/@*[local-name()='href']"

[2016-07-26 20:39] #13 closed

[2016-09-09 14:06] bermud opened #15 "Req37 kvp test on coverage id"

[2016-09-09 14:07] bermud commented on #15
Fix commit 6dc3ab826017767ec4d95871e50f55be4f20a6e5

[2016-09-09 14:07] #15 closed

[2016-11-02 10:47] bangph opened #16 "How does the deep-equal() method works ?"
In test case: wcs2:get-kvp-core-req42, there is a check for

`<xsl:if test="not(deep-equal($DescribeCoverage//*[local-name()='boundedBy'], $GetCoverage//*[local-name()='boundedBy']) and deep-equal($DescribeCoverage//*[local-name()='domainSet'], $GetCoverage//*[local-name()='domainSet']) and deep-equal($DescribeCoverage//*[local-name()='rangeType'], $GetCoverage//*[local-name()='rangeType']))">

[2016-11-02 10:48] bangph commented on #16
I know it fails for 3 cases because I managed to manipulate this boolean expression above to check each case.

[2016-11-02 11:24] bangph commented on #16
ok, I have to strip the spaces between XML tags and the test succeeded.

[2016-11-02 11:24] #16 closed

[2016-11-04 09:00] bangph opened #17 "wcs2:req28 passed but when creating report will have exception"
I run manually few tests from test suite (in core2main.xml) and finally I found out that this test case if it passed it will have the error (only it) as other test cases will not have error when creating the reports.

HTTP Status 500 - javax.servlet.ServletException: net.sf.saxon.trans.XPathException: org.xml.sax.SAXParseException; lineNumber: 174; columnNumber: 656; An invalid XML character (Unic

[2016-11-04 09:03] bangph opened #18 "wcs2:req28 check an excetion request and expect not exception result"
Both of the requests from this test cases are invalid request, but the first check is check if it can get not exception result (which is wrong as the request is invalid).

Assertion: Req28: If a GetCoverage request contains a format parameter then this parameter shall contain a MIME type identifier occurring in some wcs:formatSupported element of the response to a successful GetCapabilities reques

[2016-11-04 09:04] bangph commented on #18
btw, if I restart Tomcat and test only this test case, it can passed and have other error https://github.com/opengeospatial/ets-wcs20/issues/17

[2016-11-04 09:49] bangph commented on #18
the problem is because our server somehow when receive the invalid request, it add to the ServiceMetadata from last running test, so it request an invalid request again.

<wcs:ServiceMetadata><wcs:formatSupported>format_bogus</wcs:formatSupported><wcs:formatSupported>application/gml+xml</wcs:formatSupported>

[2016-11-04 09:49] #18 closed

[2016-11-04 11:17] bangph commented on #17
So the problem is when in GetCapabilities, it must return <wcs:formatSupported>application/gml+xml</wcs:formatSupported> as the first element of <formatSupported>, we add the first element is image/jp2 then it return binary characters and TeamEngine cannot parse it.

[2016-11-04 11:17] #17 closed

[2016-11-07 13:06] keshav-nangare opened #19 "req:12 failed due to multiple serviceTypeVersion parameter in response."
Failed tests:

Service URL:
http://arcgis-ogcoregon-393577611.us-west-2.elb.amazonaws.com/arcgis/services/wcs201/GeoDataServer/WCSServer?SERVICE=WCS&VERSION=2.0.1&REQUEST=GetCapabilities

[code]

[2016-11-08 13:35] keshav-nangare commented on #19
Solution for the Failed tests:

- req12:

 - The test "req12" is failing due to the multiple `'ServiceTypeVersion'` element present in the response.
 - We can observe this behavior using following URL:
               http://arcgis-ogcoregon-393577611.us-west-2.elb.amazonaws.com/arcgis/services/wcs201/GeoDataServer/WCSServer?SERVICE=WCS&VERSION=2.0.1&REQUEST=GetCapabilities
 - We have to iterate an

[2016-11-09 07:09] keshav-nangare opened #20 "wcs2:req24 and wcs2:req41 failed due to incorrect response"
Failed tests:

Service URL:
http://arcgis-ogcoregon-393577611.us-west-2.elb.amazonaws.com/arcgis/services/wcs201/GeoDataServer/WCSServer?SERVICE=WCS&VERSION=2.0.1&REQUEST=GetCapabilities

[code]

[2016-11-09 07:39] keshav-nangare commented on #20
Solution for the Failed tests:

- req24 and req41:

 - The server returned the exception code with only one value i.e. exceptionCode="NoSuchCoverage", but test expects "status code" too.
 - The test expects two parameter in response status and exception code. Currently the server returns the only one "exceptionCode".
 - If the server returns the "status code" in the exception report (response), th

[2016-11-09 07:46] keshav-nangare commented on #19
Fixed with this commit 7ed27e41704eca5eac4e0f0fce86ab20f9077579

[2016-11-11 15:17] #19 closed

[2016-11-16 15:16] bangph opened #22 "[Critical]ext_crs wrong input parameters (Capabilities,SupportsGML) from calling in wcs2main.xml"
This problem is critical as it makes CRS extension test failed badly, because ext_crs.xml does not know the passed parameter to run the test
`
  <ctl:test name="wcs2:crs">
    <ctl:param name="url"/>
    <ctl:param name="Capabilities"/>
    <ctl:param name="SupportsGML" />`

Meanwhile in wcs2main.xml, it only calls this test suite with "url" parameter

`<xsl:when test="contains($ext_crs,'crs')">

[2016-11-21 09:54] bangph commented on #22
I'd suggest it can be fixed like this (old and new crs test suite) https://www.diffchecker.com/BR1g6y9j.

@bermud

[2016-11-22 07:02] bangph opened #23 "CRS_Extension srsName attribute is not valid WCS.2.0.1 schema"
In CRS Extension, it requires when a coverage is requested with SubsettingCRS or OutputCRS, it will need to add the requested CRS as an attribute in <boundedBy> (e.g: test case:  Test wcs2:get-kvp-crs-req21)

From the OGC CRS Extension documentation, there is an example

<gml:boundedBy ... srsName=”http://www.opengis.net/def/crs/EPSG/0/4326” ...>

However, this attribute is not valid according to

[2016-11-22 07:02] bangph commented on #23
@jinsongdi123

[2016-11-22 10:13] bangph opened #24 "CRS Extension Req18 error in TeamEngine with SOAP version 1.2"
It looks like the problem still here
`https://lists.opengeospatial.org/pipermail/cite-forum/2011-August/000598.html`

and in this test case it send a SOAP request with CDATA, then it has problem

[code]

`Fatal Error: Error in call to extension function {public org.w3c.dom.NodeList com.occamlab.te.TECore.soap_request(org.w3c.dom.Document,java.lang.String) throws java.lang.Throwable}: DOMSender: no

[2016-11-22 10:14] bangph commented on #24
@jinsongdi123

[2016-11-23 15:19] bermud opened #25 "Update user form to match correct names for conformance classes"
![image](https://cloud.githubusercontent.com/assets/3738898/20567234/fdb3cc00-b165-11e6-83d6-5580f32852ba.png)

Also make sure that the test have the attributes that explicitly say which ones are the core and which ones are the conformance classes.

Core should be the default and should not be checked.

[2016-11-24 05:51] keshav-nangare opened #26 "Error in calling extensions in WCS2 .0.1 (EOWCS) with Null Exception"
TeamEngine returns an exception when running test WCS 2.0.1 (EOWCS)

`Error in call to extension function {public synchronized void com.occamlab.te.TECore.callTest(net.sf.saxon.expr.XPathContext,java.lang.String,java.lang.String,net.sf.saxon.om.NodeInfo,java.lang.String) throws java.lang.Exception}: Exception in extension function java.lang.NullPointerException Result: Failed`

it fails right afte

[2016-11-24 05:56] keshav-nangare commented on #26
We have investigated this issue, the Namespace is not defined for the prefix "wcseo" in test <ctl:call-test name="wcseo:main"> that's why it is failing with the null pointer exception.

[2016-11-24 06:04] keshav-nangare commented on #26
This issue is reported here: [#204
](https://github.com/opengeospatial/teamengine/issues/204)
Fixed with this commit d511ebffbdc3e08618fc2561701a99386aa9a989

[2016-11-24 06:04] #26 closed

[2016-11-24 13:48] keshav-nangare commented on #25
Updated the user form with the correct conformance class names.

Fixed with this commit:  d001aa8930663a7fba60ebd9945ae99ccb789e4b

[2016-11-24 13:54] keshav-nangare opened #29 "WCS test can only run the first chosen Test subset of test suite"
For example WCS 2.0.1 has these subset test suites from the conformance test

WCS Core | WCS POST | Processing | ScalingInterpolation | Range Subsetting | CRS | EOWCS

They are checkboxes and If I check all the check boxes, it will only run the WCS_Core test. It should change to "radio box" to avoid misunderstanding.

Originally reported here: [#202](https://github.com/opengeospatial/teamengine/is

[2016-11-24 14:08] keshav-nangare commented on #29
The issue with the conditional element `<xsl:choose> <xsl:when>`.

The `wcs2:main` test has the multiple `<xsl:when>` condition, the `<xsl:when>` is working like **"OR"** operator, if it satisfies the only one condition then it will not checking for the other one, that's the main cause.

I have removed the `<xsl:when>` and added the `<xsl:if>`, now it is working fine.

[2016-11-24 14:11] keshav-nangare commented on #29
Fixed with this commit: 05864938252b961231442f835ffb4083eab3deff

[2016-11-30 15:44] #29 closed

[2016-11-30 15:44] #25 closed

[2017-01-02 12:11] bangph commented on #22
I update the diff here, can you please consider https://www.diffchecker.com/BR1g6y9j

@bermud @keshav-nangare

[2017-01-02 12:13] bangph commented on #23
@bermud @keshav-nangare would you have some suggestion please?

[2017-01-02 12:13] bangph commented on #24
@bermud  @keshav-nangare  Would you please have some suggestion ?

[2017-01-18 17:27] pomakis opened #32 "query parameters in service endpoint are ignored"
Version 1.11 of the CITE test suite for WCS 2.0.1 requires a service endpoint to be "specified without any query parameters".  If any query parameters are supplied, they're ignored.

However, nowhere in the WCS 2.0 core specification (OGC 09-110r4) does restriction exist.  In fact, section 11.2 of the OWS Common 2.0 specification (OGC 06-121r9), on which WCS 2.0 is based, states the following:

[2017-01-18 19:13] pomakis opened #33 "Test wcs2:main_test makes invalid GetCapabilities request"
The wcs2:main_test test makes a GetCapabilities request with VERSION=2.0.1.  However, according to the OWS Common 2.0 specification (OGC 06-121r9), on which WCS 2.0 is based, the GetCapabilities operation doesn't take a VERSION parameter.  Instead, it takes an AcceptVersions parameter as specified by section 7.3.2.

[2017-01-31 14:46] keshav-nangare opened #34 "Test wise:DescribeEOCoverageSet Failed req 63"
Test wise:DescribeEOCoverageSet is calling the subtest i.e. "wise:req63" but that test is not present. so servers fails. The test name is wrong, needs to be updated from "wise:req63" to test name "wise:req63-66".

[2017-02-01 15:27] bermud opened #35 "EO WCS Test takes too long to execute"
WCS EO profile. takes too long

Tested with
http://ows.eox.at/cite/eoxserver/ows?service=wcs&version=2.0.1&request=getcapabilities

Need too investigate the reason. Maybe the schemas are not cached.

[2017-02-06 08:51] bangph opened #37 "WCS 2.0.1 - Inconsistence between WCS Core and WCS Scaling Extension requirement"
So to test WCS 2.0.1 Core and Scale Extension, it needs to import some coverage to the entry service (at least: 2 types of coverage for WCS Core:

<CoverageSubtype>GridCoverage</CoverageSubtype>

then WCS Core can pass without any error. But WCS Scale Extension will have 1 error in  Test wcs2:get-scal-req3-kvp

   [FAILURE] The service should offer at least one ReferenceableGridCoverage.

However,

[2017-02-06 08:53] bangph commented on #37
@bermud @keshav-nangare

[2017-02-08 15:28] keshav-nangare opened #38 "The req21 and req22 are failed with the OSGeo(MapServer) Server"
The server URL: http://ows.eox.at/cite/mapserver?service=wcs&version=2.0.1&request=getcapabilities

WCS20 Test version : 1.12-SNAPSHOT
Teamengine: 4.10

I have executed the only "WCS Core" with above URL.

## **The test wcs2:get-kvp-core-req21 failed**

[code]
## Test wcs2:post-xml-core-req21 failed:

[code]

Similarly the Test `wcs2:get-kvp-core-req22` and Test `wcs2:post-xml-core-req22` are Fail

[2017-02-08 15:38] bermud commented on #38
@Schpidi can you please help us figure out what the issue is? Thank you!

[2017-02-15 13:59] bermud opened #39 "Document result form version 1.11 and 1.12"
Want to be sure that the new revision did not introduced new bugs

[2017-03-09 12:21] bermud commented on #39
Results have been documented here: https://github.com/opengeospatial/ets-wcs20/wiki/WCS-2.0-Reference-Implementations-Test-results

[2017-03-09 12:23] #34 closed

[2017-03-09 12:35] bermud opened #40 "Error in calling extensions in WCS2 .0.1 (EOWCS) with Null Exception"
TeamEngine returns an exception when running test WCS 2.0.1 (EOWCS)

`Error in call to extension function {public synchronized void com.occamlab.te.TECore.callTest(net.sf.saxon.expr.XPathContext,java.lang.String,java.lang.String,net.sf.saxon.om.NodeInfo,java.lang.String) throws java.lang.Exception}: Exception in extension function java.lang.NullPointerException
Result: Failed`

it fails right afte

[2017-03-09 12:36] bermud commented on #40
Fixed with  d511ebffbdc3e08618fc2561701a99386aa9a989

[2017-03-09 12:39] #40 closed

[2017-03-09 13:37] pebau commented on #32
Keith-
by way of normative inclusion, OWS Common rules are also applicable - WCS does not repeat these. Hence, ignoring extra parameters is the expected behavior.
THH,
Peter

PS: by way of history, OWS Common 2.0 was released after WCS 2 - we were forced, however, to change to it during the WCS adoption process. Today everybody knows that OWS Common 2 is a mess, and I do hope we get something bett

[2017-03-09 13:39] pebau commented on #6
hm, so after a long and winding discussion we still have no change request, so 404 still is the valid resposne as per spec. Actually, this CR should go against OWS Common.

[2017-03-09 13:40] pebau commented on #6
I am too blind to find out how to reassign from WCS to OWS Common - can someone please do this?
thx,
Peter

[2017-03-09 14:23] pomakis commented on #32
I disagree.  The above OWS Common excerpt clearly indicates that WCS requests need to include any query parameters that are part of the URL prefix.

[2017-03-27 23:49] eshirschorn commented on #37
ReferenceableGridCoverage does not exist in GML 3.2.1.  It exists only in GMLCOV 1.0 (renamed recently to CIS 1.0).  Such disharmony issues are cleaned up via the candidate extension standard OGC 16-083r2, the CIS 1.0 ReferenceableGridCoverage Extension.  It is a proper extension of CIS 1.0 and contains the 3 referenceable grid elements of GML 3.3 plus a 4th referenceable grid element for sensor m

[2017-05-05 14:40] bangph opened #41 "Unknown Error from TeamEngine with RangeSubset extension"
In current TeamEngine version 4.10, I have this problem with  Test wcs2:get-rsub-req2 for Scaling Extension.

`Request d7781e437_1:
   Method: get
   URL: http://kahlua.eecs.jacobs-university.de/conformance?SERVICE=WCS&VERSION=2.0.1&REQUEST=GetCoverage&CoverageId=test_mean_summer_airtemp&RANGESUBSET=Blue:Red
   Response from parser ctlp:XMLValidatingParser:
      <ows:ExceptionReport xmlns:ows="ht

[2017-05-05 14:41] bangph commented on #41
@Schpidi

[2017-05-10 10:38] keshav-nangare opened #42 "Update CTL with better information about conformance classes"
The test needs to be updated to better provide information about the grouping of the conformance class and determination about which ones are the basic conformance classes needed for certification.

Changes that are required are described here:

https://github.com/opengeospatial/cite/wiki/Encoding-Conformance-Classes

[2017-08-07 08:19] bangph commented on #41
In my last tests, this error could not happen again.

[2017-08-07 08:19] #41 closed

[2017-08-07 08:22] bangph commented on #37
@eshirschorn: The CIS is accepted by OGC, but these test will stay for long times for WCS 2.0.1, so for now, I could not run CITE test for WCS 2.0.1 combinations in one session (core, processcoverages, rangesubset and scale), but, 2 sessions (scale and another session for the rest of WCS extensions).

[2017-10-23 10:28] bangph opened #43 "Scale extension is wrong for scaleByFactor in test script"
The WCS standard OGC 12-039 states:

The Scal::scaleByFactor parameter in a GetCoverage? request, if present, shall have a
positive float value.
Note A value of 1.0 leaves the coverage unscaled, a value between 0 and 1 scales down (reduces target domain), a value greater than 1 scales up (enlarges target domain).

However, in test script a scalebyfactor (e.g: scaleByFactor=4) > 1 scales down (size

[2017-10-23 12:15] lgoltz commented on #43
Thanks for reporting this.

The test checks if the high of DescribeCoverage divided by 2 equals the high of GetCoverage. As you already said this should be the case if the original coverage is scaled down. The scaleByFactor in the GetCoverage request should be 0.5 in this case.

There are three tests this test is called:
 * wcs2:get-scal-req19-22: GET request with SCALEAXES of 2.0 (both axis)
 * w

[2017-10-23 12:37] bangph commented on #43
@lgoltz : thanks for quick response. We also have this faulty implementation in our system so we need to update first. For a long time, I could not contact to Jin Song Di, do you know he is still working for CITE? As I really need his support as I am working on rasdaman project which he worked few years ago, and we want to solve some issues from existing WCS extensions and want to implement new te

[2017-10-23 14:37] lgoltz commented on #43
@bangph From the commit history it seems he is inactive since more than one year. We will clarify this. If he does not work on CITE any longer, we will try to fix this issue as soon as possible.

[2017-10-24 15:31] bangph commented on #43
@lgoltz: I updated our implementation for WCS 2.0.1 Scaling extension to this endpoint http://moon.planetserver.eu:8084/rasdaman/ows

and after that, it will fail only with

` Test wcs2:get-scal-req13 (View Details): Failed`

so you could update the test script easily from "div" to "mul"? BTW, do you have a newer version of OGC CITE CTL language? I could find this old one https://portal.opengeospa

[2017-10-30 11:51] lgoltz commented on #43
Thanks for reporting the URl. I tried to reproduced the problem with the official team engine [1] and the provided WCS [2]. I've selected all conformance classes (WCS Scaling 1.0 should be fine, too). The test is not executed. I assume the problem is that in the capabilities the DCP URLs  points to a local endpoint (http://localhost:8084/rasdaman/ows). Can you check this?

We will provide a fix wi

[2017-10-30 12:01] bangph commented on #43
@lgoltz: I could run the test with http://cite.opengeospatial.org/teamengine for only WCS 2.0.1 Scaling Extension, you need to open Web Browser Console (F12) and remove the checked checkbox for WCS 2.0.1 core which should not be run (See the attached image). This is kind of a hack but our server is not supposed to run WCS Core test when it shouldn't.

So the problem with the DCP is not related her

[2017-10-30 12:23] lgoltz commented on #43
@bangph  With this workaround I can reproduce the failure. Thanks!

[2017-11-03 11:12] dstenger commented on #24
@bangph Can you provide a service to reproduce the error? This helps us to verify a fix.

[2017-11-03 12:35] rasdaman-doi commented on #24
@dstenger: I will prepare for you this endpoint in next days. It is good if CITE could tackle the problem more quickly, this question was asked one year ago and we have to wait too long.

[2017-11-03 13:40] rasdaman-doi commented on #24
@dstenger: Here is the endpoint for your test http://moon.planetserver.eu:8084/rasdaman/ows?service=WCS&request=GetCapabilities&acceptversions=2.0.1

However, you need to do 2 things first:
+ Don't run CRS extension with CRS core as I showed a workaround here https://github.com/opengeospatial/ets-wcs20/issues/43#issuecomment-340423924
+ And you could not reproduce the error on this issue from cite

[2017-11-06 09:22] lgoltz commented on #37
@bangph Can you please check if the error still occurs?
I've tested with TEAM Engine 4.10 and ETS Web Coverage Service (WCS) 2.0.1 (1.12) [1] and the service [1] (with the workaround described in https://github.com/opengeospatial/ets-wcs20/issues/43#issuecomment-340423924)

The test  `wcs2:get-scal-req3-kvp` is successful.

[1] http://cite.opengeospatial.org/teamengine/
[2] http://moon.planetserve

[2017-11-06 09:26] bangph commented on #37
@lgoltz this is different problem, you can see https://github.com/opengeospatial/ets-wcs20/issues/37#issuecomment-289619727

Basically, WCS 2.0.1 core does not support a ReferenceableGridCoverage but WCS 2.0.1 Scaling Extension wants to have one of this coverage type to test, which means, normally, I have to run test for WCS 2.0.1 core without test for Scaling and after that I will only run test S

[2017-11-06 13:59] lgoltz commented on #37
@bangph  Thanks for clarification, I think I understand the problem now.
In the CTL scripts  a can see that the test `wcs2:get-scal-req3-kvp` fails if a ReferenceableGridCoverage is not provided.

Which test fails in WCS 2.0.1 CORE if the ReferenceableGridCoverage is provided? Several test can fail with the message `The response to a successful PostXML DescribeCoverage request with n>0 coverage id

[2017-11-06 14:49] pebau commented on #37
Likely the ReferenceableGridCoverage branch needs to be revisited in completeness - recently the "OGC Coverage Implementation Schema - ReferenceableGridCoverage Extension" [1] has been adopted. Maybe it's good to involve the spec editor,  Eric Hirschorn, in discussions about a corresponding ETS for the new spec (that also would solve the issue discussed here I believe).

[1] http://docs.opengeospa

[2017-11-07 13:18] keshav-nangare commented on #24
@dstenger

I am able to reproduce this issue as suggested by rasdaman-doi.

If we added the CDATA in to the CTL- soap request and then the teamengine is trying to build the soap request from the CTL script at that time it checking the node-type.
If the node is not type of ELEMENT then the Dom object is null and we get the following error:

`Error in call to extension function {public org.w3c.dom.N

[2017-11-15 22:21] coim32 opened #45 "escape special char from get parameters"
on test wcs2:get-kvp-core-req28
Format parameter in line 715 of script/ctl/GetCoverage.xmlif  can read format "application/gml+xml" and tries to send it as a get parameter it will fail because the character '+', the parameter value should be escaped in this case it should send "application/gml%2Bxml"

[2017-11-22 15:34] dstenger commented on #24
@keshav-nangare

CDATA can be removed from CTL if this fixes the bug.

However, CDATA elements are used in several tests. Thus, it should be checked whether the other tests also fail. If this is not the case, why are the other tests not failing? Maybe, the bug is located in ```com.occamlab.te.TECore.soap_request()``` and parsers for other request encodings work?

[2017-11-23 13:34] keshav-nangare commented on #24
We have two type of requests i.e. **`ctl:request`** and **`ctl:soap-request`**.

The main issue of the CDATA is with the ctl:soap-request, if CDATA is exist in the request <ctl:body> then all the body content is escaped while transforming the CTL test to executable style-sheet. Whenever we are trying to access this escaped body content it is getting as text node instead of element type.

If the CD

[2017-11-23 13:42] keshav-nangare commented on #24
@dstenger

There is one more solution for this issue i.e. we can convert this text node into element and then we can do process in soap request if it is best approach?

[2017-11-24 10:59] dstenger commented on #39
@bermud
Are further actions required?
Otherwise, the issue can be closed.

[2017-11-30 09:18] dstenger commented on #24
I propose to adjust the implementation of ```soap-requqest``` being able to process elements in CDATA.

[2017-11-30 09:22] dstenger commented on #24
Will be fixed by https://github.com/opengeospatial/teamengine/issues/276.

As soon as fix will have been done and testing will have been successful, this issue can be closed.

[2017-12-05 12:49] dstenger commented on #24
After fix opengeospatial/teamengine#276 has been done, the request cannot be parsed as it is erroneous. Prefix wcscrs is not bound to a namespace. Thus, the request must also be fixed.

Solution:
Namespace binding must be added to the request:
[code]

This also applies to ```wcs2:crs-req17```. This request body should also be fixed.

[2017-12-06 12:22] keshav-nangare commented on #24
Added missing namespace in request body.

Updated with this commit: c3889611e98c8665841178218510cefdf4945385

[2017-12-13 09:22] dstenger opened #49 "Validate the service endpoint URL before running test"
See https://github.com/opengeospatial/teamengine/issues/214.

[2017-12-14 09:57] keshav-nangare commented on #49
We have two way to provide the capability doc to test i.e.
1. URL
2. Capability document[File],
So we can't do URL as mandatory field so I removing this attribute from this.

Updated:  `<input type="url" name="url" size="100" pattern="[a-z]{3,}://.+" />`

I have added the pattern attribute to cover some validation scenarios.

[2017-12-14 10:03] keshav-nangare commented on #49
Fixed with this commit: ecfa272

[2017-12-19 13:06] keshav-nangare commented on #22
Updated the correct input parameters for ext_crs test as suggested by Bang.

Fixed with this commit: 9acd37ed9a01b0c87058d97ce0f2ac91161c15d1 [ PR #51 ].

[2017-12-20 08:05] dstenger commented on #45
@coim32 Can you provide a test service to reproduce the error?

[2017-12-28 12:45] keshav-nangare commented on #45
@coim32

Used service for testing: http://moon.planetserver.eu:8084/rasdaman/ows?service=WCS&request=GetCapabilities&acceptversions=2.0.1

The wcs2:get-kvp-core-req28 is successfully executed even if it contains the + sign in query parameter.

E.g.:  http://moon.planetserver.eu:8084/rasdaman/ows?service=WCS&VERSION=2.0.1&request=GetCoverage&coverageid=test_mr&format=application/gml+xml

Also I hav

[2017-12-29 13:25] coim32 commented on #45
That parameter is not properly scaped, our implementation is not released yet, otherwise I could give you a link to test it, you can see in this link the correct value is encoded and decoded https://urldecode.org/?text=application%252fgml%252bxml&mode=decode

Does postman and rasdaman works with the encoded value?
--------------------------------------------
On Thu, 12/28/17, Keshav Nangare <notif

[2017-12-29 13:29] coim32 commented on #45
My implementation is not released yet, encoding is part of http specification to scape special characters.
You can see it working in this link https://urldecode.org/?text=application%252fgml%252bxml&mode=decode
--------------------------------------------
On Wed, 12/20/17, dstenger <notifications@github.com> wrote:

 Subject: Re: [opengeospatial/ets-wcs20] scape special char from get parameters (#

[2018-01-11 12:16] lgoltz commented on #43
@bangph Can you reactivate the service for testing?

[2018-01-11 12:57] bangph commented on #43
@lgoltz yes, it is on again: http://moon.planetserver.eu:8084/rasdaman/ows

[2018-01-11 13:42] #22 closed

[2018-01-12 07:11] #24 closed

[2018-01-15 17:01] #49 closed

[2018-01-15 17:06] lgoltz commented on #49
Successfully tested locally within docker environment and the following URLs:
 * http://moon.planetserver.eu:8084/rasdaman/ows?service=WCS&request=GetCapabilities&acceptversions=2.0.1
   * Test is executed and has expected results
 * https://moon.planetserver.eu:8084/rasdaman/ows?service=WCS&request=GetCapabilities&acceptversions=2.0.1
   * Test is executed and fails because the service is not ava

[2018-01-15 18:12] lgoltz commented on #23
I think the WCS CRS extension is incorrect or at least unclear at this point.
[code]
is invalid against GML 3.2, it should be
[code]

In the CTL files are a examples asserting the correct XPath. Others seems to be invalid.

I've tested with http://moon.planetserver.eu:8084/rasdaman/ows?service=WCS&request=GetCapabilities&acceptversions=2.0.1 and the test `wcs2:get-kvp-crs-req21` passed.
@bangph Do

[2018-01-15 19:01] bangph commented on #23
@lgoltz according to the standard (https://portal.opengeospatial.org/files/54209), the test CTL is correct, but the standard is not valid with GML 3.2.
`Requirement 13 crs/getCoverage-response-crs:
The contents of the response to a successful GetCoveragerequest containing an outputCrs
parameter shall have, in the gml:boundedBy element, an srsName value identical to the
outputCrs element in the req

[2018-01-16 08:46] lgoltz commented on #6
Can someone point out which changes are required in the ETS? Or can we close this ticket as the ETS behaves accordingly to the specification?

[2018-01-16 09:37] lgoltz commented on #14
@Vinni0803 Does the error still occur? Can you provide a service for testing?
From your comments above I see two failures:
1. The server does not support the gml coverage.
   * Occurs if the profile http://www.opengis.net/spec/GMLCOV/1.0/conf/gml is not supported
1. The version in the wcs:Capabilities result should be "2.0.1".
   * Occurs if the the version in the Capabilities document is not 2.0.

[2018-01-16 09:43] lgoltz commented on #42
From WCS 2.0 specification:

[code]

I think the complete conformance class must be configured as `conformance class` and `basic`. This should be the test `wcs2:main_test` which is executed if `Core` is executed.
https://github.com/opengeospatial/ets-wcs20/blob/157d04f3bd6a7494ee16924dc34ff14ffa28ea62/src/main/scripts/ctl/wcs2main.xml#L104

[2018-01-16 10:06] lgoltz commented on #32
I've tried with the follwing services: https://demo.cubewerx.com/cubewerx/cubeserv/cite_wcs201?DATASTORE=Foundation&SERVICE=WCS&REQUEST=GetCapabilities&ACCEPTVERSIONS=2.0.1

Test `wcs2:main_test` fails with the following log:
[code]

I also understand from OWS Common 2.0 that additional query parameters like `DATASTORE=Foundation` are allowed.

[2018-01-16 10:25] lgoltz commented on #33
As far as I see you are right. VERSION must be replaced with ACCEPTVERSIONS at least in the test  `wcs2:main_test`. It should be checked  if other tests are affected.

[2018-01-16 15:49] bangph commented on #23
@lgoltz, @bermud:  We had a discussion about the requirement 13 in WCS CRS extension with the author. I've just known that this problem occurs because of there was a change request from this CRS extension in section viii (Future work) which GML 3.2.1 schema should have updated.

`CR to GML: EnvelopeWithCRSType (similar to EnvelopeWithTimePeriodType).`

However, up to now, you can see that the chan

[2018-01-16 16:06] lgoltz commented on #23
I would prefer to disable the test as there may be servers implemented the other way round (valid GML but invalid according to the CRS extension). Which is in my mind in almost the same manner correct (or incorrect).

@dstenger @bermud  Your thoughts are welcome!

@bangph Thanks a lot for checking this again! And sorry for the late reply. As the test lead is not longer available we have to work on

[2018-01-16 16:15] pebau commented on #33
Just FYI, the OAB has spotted inconsistencies in the use of VERSION(S) vs ACCEPTVERSION(s) and recommended recently to implementations to allow for both gracefully. Maybe it would be worth syncing with George Percivall (OAB facilitator) to get an authoritative statement on the handling of these parameters.

[2018-01-18 09:21] keshav-nangare commented on #45
Updated the wcs20 test with the encoding function which will encode the request parameter.

The encoding issue of the test `wcs2:get-kvp-core-req28` is fixed.

[code]

[2018-01-18 09:22] keshav-nangare commented on #45
Fixed with this commit: 50775f6620cbf077f00cebbec7046176a44f871a. [PR: #53]

[2018-01-22 15:23] lgoltz opened #54 "Rework test wcs2:post-xml-req2 (post/xml)"
## Setup
SUT: TODO
Selected CCs: all, except _WCS WPS 2.0 (Processing)_
Tested locally with docker environment
  * ETS WCS 2. 0 1.13-SNAPSHOT
 * TEAM Engine 5.2-SNAPSHOT

## Testfailure
"[FAILURE] ows:Constraint element for XML POST is not included in the OperationsMetadata element"
 *  Implementation of the test: https://github.com/opengeospatial/ets-wcs20/blob/157d04f3bd6a7494ee16924dc34ff14ffa2

[2018-01-22 15:26] lgoltz opened #55 "wcs2:post-xml-req5 fails with InvocationTargetException (post/xml)"
## Setup
SUT: TODO
Selected CCs: all, except _WCS WPS 2.0 (Processing)_
Tested locally with docker environment
  * ETS WCS 2. 0 1.13-SNAPSHOT
 * TEAM Engine 5.2-SNAPSHOT

## Testfailure
"Error in call to extension function {public org.w3c.dom.NodeList com.occamlab.te.TECore.request(org.w3c.dom.Document,java.lang.String) throws java.lang.Throwable}: Exception in extension function java.lang.reflect

[2018-01-22 15:30] lgoltz opened #56 "wcseo:get-kvp-req63-66 fails with InvocationTargetException (eowcs)"
## Setup
SUT: TODO
Selected CCs: all, except _WCS WPS 2.0 (Processing)_
Tested locally with docker environment
  * ETS WCS 2. 0 1.13-SNAPSHOT
 * TEAM Engine 5.2-SNAPSHOT

## Testfailure
" Error in call to extension function {public org.w3c.dom.NodeList com.occamlab.te.TECore.request(org.w3c.dom.Document,java.lang.String) throws java.lang.Throwable}: Exception in extension function java.lang.reflec

[2018-02-22 10:07] lgoltz opened #57 "wcseo:get-kvp-req50 fails with InvocationTargetException (eowcs)"
## Setup
SUT: TODO
Selected CCs: TODO
Tested TODO

## Testfailure
" Error in call to extension function {public org.w3c.dom.NodeList com.occamlab.te.TECore.request(org.w3c.dom.Document,java.lang.String) throws java.lang.Throwable}: Exception in extension function java.lang.reflect.InvocationTargetException"
 *  Failure from error log:
[code]
* Request send by the ETS contains `phenomenonTime("2013

[2018-02-27 08:26] lgoltz opened #58 "wcseo:get-kvp-req63-66 because of missing attribute number-Returned attribute"
[FAILURE] The response to a successful DescribeEOCoverageSet request shall report in its number-Returned attribute the sum of all CoverageDescription and DatasetSeriesDescription elements included in the response

Assertions:
[code]

In http://schemas.opengis.net/wcs/wcseo/1.0/wcsEODescribeEOCoverageSet.xsd the attributes are named `numberMatched` and `numberReturned`.

[2018-02-27 08:32] lgoltz commented on #56
Fixed by removing the spaces in commit https://github.com/opengeospatial/ets-wcs20/commit/370acc074cf601dbefadb9d685604595027494cc

[2018-02-27 13:51] lgoltz commented on #58
Fixed xpath expression in PR #59 . Besides the spelling of the attributes `CoverageDescriptions` was changed to `CoverageDescription`.

[2018-02-27 13:53] lgoltz commented on #57
Fixed with commit https://github.com/opengeospatial/ets-wcs20/commit/370acc074cf601dbefadb9d685604595027494cc, PR #53

[2018-02-27 15:14] lgoltz commented on #55
The failure occurs cause the GetCoverage Response is tried to be parsed as XML. Instead the HTTPParser should be used as in GetCoverage.ctl.

[2018-02-27 16:10] lgoltz commented on #20
@keshav-nangare Can you please recheck this issue? Does the failure still occur? Both tests wraps some other tests. Which are the failing tests? The service is not longer available.

[2018-02-27 17:39] lgoltz commented on #54
As far as I see is correct: The configured POST URLs are the same for each operation, so the  ows:Constraint element shall be included in the  OperationsMetadata element and not for each POST element.

[2018-02-28 06:48] lgoltz opened #60 "Test of extension Interpolation fails with NPE"
## Setup
SUT: http://conformance.rasdaman.com/ows?service=WCS&request=GetCapabilities&acceptversions=2.0.1
Selected CCs: only `interpolation`
Tested locally with docker environment
  * ETS WCS 2. 0 1.13-SNAPSHOT (includes PR #48)
 * TEAM Engine 5.2

## Testfailure
" Error in call to extension function {public org.w3c.dom.NodeList com.occamlab.te.TECore.request(org.w3c.dom.Document,java.lang.String

[2018-02-28 07:07] lgoltz opened #62 "Clean up extension 'Interpolation'"
## Setup
SUTs:
1. http://conformance.rasdaman.com/ows?service=WCS&request=GetCapabilities&acceptversions=2.0.1
1. http://ows.eox.at/cite/mapserver?service=wcs&version=2.0.1&request=getcapabilities

Selected CCs: only `interpolation`
Tested locally with docker environment
  * ETS WCS 2. 0 1.13-SNAPSHOT (includes PR #48)
 * TEAM Engine 5.2

## Description
There are some test  for the extension 'Inte

[2018-02-28 07:13] bangph commented on #60
@lgoltz: The endpoint (http://moon.planetserver:8084/rasdaman/ows) is our test service temporarily (i.e: it can be closed anytime). If you want to test with rasdaman WCS 2.0.1 then please use the official one which I maintain: http://conformance.rasdaman.com/ows?service=WCS&request=GetCapabilities&acceptversions=2.0.1

[2018-02-28 07:50] lgoltz commented on #60
@bangph Thanks for the hint. I've changed the description.

[2018-02-28 09:03] lgoltz commented on #62
Fixed with commit https://github.com/opengeospatial/ets-wcs20/commit/d8eb5c45f663191a2385055e284a37f068dba865

Test `wcs2:get-int-req4` requests all URLs provided in the Capabilities (InterpolationSupported) parses the response with an XMLValidatingParser.  The assertion checks if the length of the response is not 0.

Specification:
[code]
I think the test should only check if the content of all i

[2018-02-28 10:03] #60 closed

[2018-02-28 10:07] #62 closed

[2018-02-28 10:09] #58 closed

[2018-02-28 10:11] lgoltz commented on #38
The validation errors are fine, the response contains the CoverageDesription of the same Coverage two times. This leads to the same gml:ids two times which is invalid GML.

The request contains the same CoveragId  two times: http://ows.eox.at/cite/mapserver?service=WCS&VERSION=2.0.1&request=DescribeCoverage&CoverageId=MER_FRS_1PNUPA20090701_124435_000005122080_00224_38354_6861_RGB,MER_FRS_1PNUPA20

[2018-02-28 10:11] #45 closed

[2018-02-28 10:15] #43 closed

[2018-02-28 10:20] #57 closed

[2018-02-28 14:10] #56 closed

[2018-02-28 14:47] dstenger commented on #60
Fix successfully tested with http://conformance.rasdaman.com/ows?service=WCS&request=GetCapabilities&acceptversions=2.0.1.
No NPE occurs in log any more.

[2018-02-28 15:03] dstenger commented on #62
Successfully tested.

Following tests are executed:
* wcs2:get-int-req1
* wcs2:get-int-req2
* wcs2:get-int-req3

[2018-02-28 15:04] dstenger commented on #58
Successfully tested.

Test wcseo:get-kvp-req63-66 is passed.

[2018-02-28 15:05] dstenger commented on #45
Successfully tested.

Test wcs2:get-kvp-core-req28 is passed.

[2018-02-28 15:11] dstenger commented on #56
Successfully tested.

Test wcseo:get-kvp-req63-66 is passed.

[2018-02-28 15:11] dstenger commented on #57
Successfully tested.

Test wcseo:get-kvp-req50 is passed.

[2018-03-01 07:48] lgoltz opened #64 "DescribeCoverage test fails with validation failure"
## Setup
SUT: http://conformance.rasdaman.com/ows?service=WCS&request=GetCapabilities&acceptversions=2.0.1
Selected CCs: Core , Post
Tested locally with docker environment
  * ETS WCS 2.0 1.13
 * TEAM Engine 5.2

## Testfailure
Several test fails due to an Validation error (e.g. wcs2:get-kvp-core-req21):

[code]

[2018-03-01 07:49] lgoltz commented on #64
Tests fails since merge of pull request #46 cause the gmlcov schema dependencies are outdated.

[2018-03-01 08:42] #64 closed

[2018-03-01 09:21] dstenger commented on #64
Test with http://conformance.rasdaman.com/ows?service=WCS&request=GetCapabilities&acceptversions=2.0.1 successful.

The schema validation errors in e.g. wcs2:get-kvp-core-req21 do not occur any more.

[2018-03-01 11:18] keshav-nangare commented on #20
http://arcgis-ogcoregon-393577611.us-west-2.elb.amazonaws.com/arcgis/services/wcs201/GeoDataServer/WCSServer?SERVICE=WCS&VERSION=2.0.1&REQUEST=GetCapabilities

Currently, the above service is not available so we cannot reproduce this issue.

The issue is not reproducible so we can close this for now.

The test **` wcs2:req24`** and **`wcs2:req41`** executed successfully with below RI.

RI [1] http

[2018-03-01 11:22] lgoltz commented on #20
@keshav-nangare Thanks, Ii will close this issue.

[2018-03-01 11:22] #20 closed

[2018-04-04 09:28] dstenger commented on #23
Thank you for your deep analysis.

I agree that the whole test should be removed as the requirement contains contradictions. I am also in favour to remove the whole test as implementations might interpret the requirement differently.

However, regarding the specification, I would create a CR for WCS CRS extension and not GML specification. As lgoltz pointed out in https://github.com/opengeospatial

[2018-04-04 13:02] bangph commented on #23
@dstenger thanks for your reply. I don’t have any comments about your thought (The author should be contacted from CITE and you guys decide what can be done, I don’t have permission here).

[2018-04-04 14:10] bermud commented on #39
I see that the behavior is similar for 1.11 and 1.12. Good to close.

[2018-04-04 14:10] #39 closed

[2018-04-11 09:57] lgoltz commented on #42
Implemented as proposed in https://github.com/opengeospatial/ets-wcs20/issues/42#issuecomment-357905688: PR #66

[2018-04-12 13:33] keshav-nangare commented on #38
@lgoltz

The DescribeCoverage request has the two hard-coded XPath i.e. first coverage_Id and last coverage_id that's why the same coverage_id is appearing in request twice.

Here is the line of code:
https://github.com/opengeospatial/ets-wcs20/blob/aada53aaf909b67e169ba0f618732215508e9aa5/src/main/scripts/ctl/DescribeCoverage.xml#L1158
[code]

I will update this request as similar to other descri

[2018-04-13 12:08] keshav-nangare commented on #38
@lgoltz

I have tested this changes and test Req21: `wcs2:post-xml-core-req21`  and `wcs2:get-kvp-core-req21` is failing with the below error message.

`[FAILURE] The response to a successful PostXML DescribeCoverage request with n>0 coverage identifiers shall be a list containing n items.`

I am not sure why the two DescribeCoverage requests are invoked in the same test.  We can see the test `wcs

[2018-04-25 11:49] #42 closed

[2018-05-09 12:26] lgoltz commented on #38
## Requirement 21
[code]

`wcs2:get-kvp-core-req21` has two subtests, the first requests all Coverages (this is described in _A.1.21
DescribeCoverage returns information on all coverages requested_), the second test requests two Coverages.
I think the second test can be removed. Another option would be to skip the test `wcs2:req21`.

## Requirement 22
[code]

Requirement 22 includes the option tha

[2018-05-17 14:56] dstenger opened #67 "If all conformance classes are selected, HTML report is not generated correctly"
Tested service: http://ows.eox.at/cite/mapserver?service=wcs&version=2.0.1&request=getcapabilities

7 conformance classes are tested.

Only one conformance class is shown in HTML report (```main_test```).
Screenshot of part of HTML report:

![ets-wcs20-html-report](https://user-images.githubusercontent.com/2989166/40185581-3695539a-59f3-11e8-8fa6-b934db320fb3.png)

[2018-05-17 14:56] dstenger commented on #67
@keshav-nangare Can you please analyse this issue?

[2018-05-18 13:26] keshav-nangare commented on #67
@dstenger

I have tested the wcs20 test with the latest teamengine master but giving the correct result.

I have selected only two conformance classes main_test and post-xml-main and report generated accordingly.

Here is screenshot:

![image](https://user-images.githubusercontent.com/14732650/40237047-ed9da310-5acc-11e8-9226-debc7e25c3d2.png)

Can you please provide more details to reporduce this

[2018-05-18 13:34] dstenger commented on #67
@keshav-nangare

Please select all conformance classes to reproduce this bug.
Can you also test this issue on beta web site [1] (was just updated)?

[1] http://cite.opengeospatial.org/te2/

[2018-05-22 12:39] keshav-nangare commented on #67
The result page is displaying the weired HTML report because of the some HTML tags are missing so the content get mixed in this page. The xslt is falied in the middle while generating the report.

We get the following error while generating the HTML report:

[code]

I have investigated this error and found the problem in the earl report, in the TestRequirement we found the two elements with name `

[2018-05-27 16:42] pebau commented on #23
Hi dstenger,

thanks for spotting this. Indeed, a CR should be the best. Would you write one?
It can be, but does not have to be formal - basically an informal email with (i)
the problem and (ii) the proposed solution is sufficient. Being WCS chair + spec
editor I would take care of the rest.

thanks again,
Peter

On 04/04/2018 11:28 AM, dstenger wrote:

--
Dr. Peter Baumann
 - Executive Director,

[2018-06-27 10:20] bangph opened #70 "Scale extension is wrong for scaleByFactor (Req13:Test scale-axes-by-factor result) in test script"
I cannot reopen a closed issue from https://github.com/opengeospatial/ets-wcs20/issues/43. But this problem is existing.

The WCS standard OGC 12-039 states:

The Scal::scaleByFactor parameter in a GetCoverage? request, if present, shall have a
positive float value.
Note A value of 1.0 leaves the coverage unscaled, a value between 0 and 1 scales down (reduces target domain), a value greater than 1

[2018-06-27 10:21] bangph commented on #70
@dstenger @lgoltz it has been not fixed yet https://github.com/opengeospatial/ets-wcs20/issues/43#issuecomment-369281258

[2018-06-27 10:58] pebau commented on #70
basically, we have 2 options:
- correct ETS to comply with the standard
- generate a corrigendum to the standard.
If the latter is felt desirable I can initiate that and propose a corrigendum to WCS.SWG at the next TC meeting in October.

[2018-08-22 08:12] dstenger opened #71 "Create SoapUI tests and integrate them into Maven and Jenkinsfile"
See opengeospatial/ets-wms13#56 for instructions.

Please use following service implementation: http://ows.eox.at/cite/mapserver?service=WCS&version=2.0.1&request=GetCapabilities

[2018-08-30 12:36] keshav-nangare commented on #71
The ets-wcs20 is based on the CTL so we can't execute this test-suite through the REST api.

[2018-09-05 11:33] keshav-nangare opened #72 "Enable test execution using a RESTful API"
Create interface to execute CTL test-suite using RESTful API.

Reference: https://github.com/opengeospatial/ets-wms13/issues/34

[2018-09-06 12:53] keshav-nangare commented on #35
@dstenger @lgoltz

I have updated the tests with the local schema reference of EOWCS profile.
Schemas are downloaded from here http://schemas.opengis.net/wcs/wcseo/1.0/ and added into resources. These schemas are internally using URL to import other schemas so I have updated that as well and point to local reference.

After testing this changes with the teamengine, there are few tests failing with

[2018-09-06 17:04] keshav-nangare commented on #35
Current changes are here: https://github.com/opengeospatial/ets-wcs20/tree/feature-issue%2335

[2018-09-27 08:20] keshav-nangare commented on #72
The wcs20 has its own local resources(schema's) and the parser is trying to load schema from local resource but it failed with following error:

------------------------------------------------
Caused by: java.lang.RuntimeException: Failed to parse resource from http://ows.eox.at/cite/mapserver?SERVICE=WCS&VERSION=2.0.1&REQUEST=GetCapabilities
 schema_reference.4: Failed to read schema document 'f

[2018-10-01 05:39] lgoltz commented on #72
@keshav-nangare
Is  https://github.com/opengeospatial/ets-wcs20/tree/feature-issue%2372 the branch you are working on? Contains the branch all changes?
When does the failure occur (can you provide the URL)?

[2018-10-01 08:40] lgoltz commented on #72
@keshav-nangare
The problem is that the resource from the jar file is handled as file in https://github.com/opengeospatial/teamengine/blob/c6310f25f2a9f00fe57c6ef56f6d2d9c91a8f74a/teamengine-core/src/main/java/com/occamlab/te/parsers/XMLValidatingParser.java#L96

Using the URL instead of  `new File(url.getFile();` should fix the problem. A better solution would be to use a stream (cl.getResourceAs

[2018-10-01 17:18] keshav-nangare commented on #72
@lgoltz

I did the implementation using URL and able to execute test-suite as expected. Currently I am testing the webapp with the same RI whether these changes are working or not. I will update you regarding this.

Thanks Lyn for your inputs!!

[2018-10-04 07:00] keshav-nangare commented on #72
@lgoltz

The ets-wcs20 test-suite is tested with the teamengine webapp and it worked fine.

After updating the URL logic, the teamengine-core JUnit test is failing and it expects the file not the URL type.
https://github.com/opengeospatial/teamengine/blob/c6310f25f2a9f00fe57c6ef56f6d2d9c91a8f74a/teamengine-core/src/test/java/com/occamlab/te/parsers/XMLValidatingParserTest.java#L47

I am not aware

[2018-10-04 07:50] lgoltz commented on #72
I think you can update the test. It is improbably that the schema instance is used directly (and not favoured).

[2018-10-23 11:22] keshav-nangare commented on #71
Fixed with this PR #74.

[2019-01-02 12:35] dstenger commented on #23
CR was created and submitted via E-Mail (to Peter Baumann).

Open tasks:
* Remove test as decided above.

[2019-01-15 10:16] keshav-nangare commented on #55
@lgoltz

Service is not available to reproduce this behavior. Could you please provide any other service which will reproduce the same behavior?

[2019-03-19 15:27] dstenger commented on #54
It was confirmed that analysis of lgoltz is correct.
Issue can be closed.

[2019-03-19 15:27] #54 closed

[2019-03-19 15:33] dstenger opened #75 "Enable Docker support"
Please use following manual: https://github.com/opengeospatial/cite/wiki/How-to-create-Docker-Images-of-test-suites

[2019-03-28 12:23] keshav-nangare commented on #55
@lgoltz @dstenger

I have tested the Zikang's service with this test and test gets failed with the same error.

Lyn, you are right the service response is multipart so the XMLValidatingparser is failed to parse the multipart data because it expecting the only XML.

[code]

[2019-04-01 05:46] keshav-nangare opened #77 "wcs2:req21 & wcs2:req22 are failed with validation error if it has the <nilValues> element"
error log:

[code]

[2019-04-12 10:00] dstenger opened #78 "Test wcseo:req6 does not accept gml:EnvelopeWithTimePeriod"
Test `wcseo:req6` is failing when following response is returned by DescribeCoverage request:
[code]

The test checks if gml:boundedBy contains gml:Envelope.

Thus, specification has to be checked whether gml:EnvelopeWithTimePeriod is fine as well.

[2019-04-12 10:38] dstenger commented on #55
I don't see a reason why multipart should be forbidden.

Thus, there must either a precondition be defined for test suite or multipart support must be enabled.

[2019-04-18 05:36] lgoltz commented on #14
I close this issue as the last comment is more then one year old.

@Vinni0803 If the problem still exists please reopen this issue and provide the URL of the service for testing.

[2019-04-18 05:36] #14 closed

[2019-04-18 06:02] #72 closed

[2019-04-18 06:03] #75 closed

[2019-04-18 08:26] lgoltz opened #79 "Skip tests requiring more than one coverage when the service provides only one"
Affected tests are ate least:
 * wcs2:post-xml-core-req21
 * wcs2:get-kvp-core-req21
 * wcs2:soap-core-req21

Service for testing: http://ows.eox.at/cite/mapserver?service=wcs&version=2.0.1&request=getcapabilities

[2019-04-18 08:27] #38 closed

[2019-04-18 08:27] lgoltz commented on #38
Successfully tested with http://ows.eox.at/cite/mapserver?service=wcs&version=2.0.1&request=getcapabilities Tests are successful.

We should think about skipping tests which requires more than one coverage when the service provides only one coverage (new issue created: #79).

[2019-04-18 09:23] dstenger commented on #71
Must be postponed till TEAM Engine 5.4 is released and installed on beta (see https://github.com/opengeospatial/ets-wcs20/pull/73).

[2019-04-24 14:41] lgoltz commented on #55
@keshav-nangare: Can you check if multipart support can be enabled in the test suite?

[2019-04-25 11:46] lgoltz commented on #67
The failure occurs cause the `conformanceClass` element in the log.xml of the test  get-int-main is missing. The transformation from the log to earl results in duplicated elements because in https://github.com/opengeospatial/teamengine/blob/b6b890214b6784bbe19460bf753bdf28a9514bee/teamengine-core/src/main/java/com/occamlab/te/CtlEarlReporter.java#L233 the resource is created two times with the sam

[2019-04-25 12:43] lgoltz commented on #78
Requirement 6 out of the Web Coverage Service 2.0 Interface Standard - Earth Observation Application Profile:

[code]

gml:boundedBy references gml:Envelope and gml:EnvelopeWithTimePeriod substitutes gml:Envelope, s. http://schemas.opengis.net/gml/3.2.1/feature.xsd

The example above is schema conform. In my opinion this is a failure in the ets.

[2019-04-25 12:49] lgoltz commented on #67
Fixed with https://github.com/opengeospatial/teamengine/pull/399

[2019-04-29 12:13] lgoltz commented on #35
@keshav-nangare I've fixed the paths to the referenced schemas. Can you check if this solves the problem?

[2019-05-07 16:56] keshav-nangare commented on #79
@lgoltz

As we have fixed the describe coverage test request with multiple identifiers in PR  #69. According to PR the tests are not affected because we have iterated the for all identifiers present in response so it will add all identifiers in request whether it can be 0 or n. Before this fix the implementation is trying to access only first and last identifier due this reason the tests are faile

[2019-05-13 14:59] dstenger commented on #67
opengeospatial/teamengine#399 was merged.

Test with TEAM Engine 5.4-SNAPSHOT and service http://ows.eox.at/cite/mapserver?service=wcs&version=2.0.1&request=getcapabilities was successful.
Now, HTML report is displayed correctly.

[2019-05-13 14:59] #67 closed

[2019-05-14 09:28] #79 closed

[2019-06-12 09:17] pebau commented on #23
FYI, a corrigendum request fixing this is under way, will be discussed and hopefully resolved at the TC meeting Leuven this June.

[2019-06-13 10:57] lgoltz commented on #33
We decided to replace VERSION by ACCEPTVERSIONS.

[2019-06-13 11:04] dstenger commented on #77
From mailing list:

[2019-06-13 11:15] dstenger commented on #23
@pebau
Thank you for the information.
Do you know how long it takes till this corrigendum request will be part of an official release of the standard?

[2019-06-13 12:57] lgoltz commented on #77
The version of the SWE schemas is outdated:

Currently 2.0.0 is included:
https://github.com/opengeospatial/ets-wcs20/blob/80031ab5ef7233b58468ba1977b40e62bcc0b30c/src/main/resources/swe/2.0/swe.xsd#L1

The current version is 2.0.1: http://schemas.opengis.net/sweCommon/2.0/swe.xsd

[2019-06-13 13:20] lgoltz commented on #70
@bangph Can you check this issue again?

As far as I see **multiple by 2 (mul 2)** is used: https://github.com/opengeospatial/ets-wcs20/blob/80031ab5ef7233b58468ba1977b40e62bcc0b30c/src/main/scripts/ctl/ext_get-scal.xml#L2099

[2019-06-13 13:36] lgoltz commented on #77
As the service is not available PR #82 was not tested yet.

[2019-07-05 19:44] pomakis opened #83 "Why is wcs2:get-scal-req3-kvp failing?"
I'm trying to run "https://onestop.cubewerx.com/cubewerx/citeWcs201.cgi" through the Web Coverage Service (WCS) 2.0.1 CITE tests (version 1.12), and one of the tests it's failing is "wcs2:get-scal-req3-kvp", which tests the requirement:

Requirement 3 grid-coverage:
The coverage identifier in a GetCoverage request shall address a coverage which is a GridCoverage, RectifiedGridCoverage, Referenceab

[2019-07-05 19:52] pomakis opened #84 "Why is wcs2:crs-req1 failing?"
I'm trying to run "https://onestop.cubewerx.com/cubewerx/citeWcs201.cgi" through the Web Coverage Service (WCS) 2.0.1 CITE tests (version 1.12), and one of the tests it's failing is "wcs2:crs-req1", which tests the requirement:

Requirement 1 crs/extension-identifier:
A WCS service implementing conformance class crs of this CRS Extension shall include the following URI in the Profile element of th

[2019-07-08 08:28] dstenger commented on #84
Thank you for reporting. We will do further investigation.

[2019-07-08 08:30] dstenger commented on #83
Thank you for reporting. We will do further investigation.

[2019-07-08 15:56] keshav-nangare commented on #83
I went through the test implementation and got the reason for failure. As per the current implementation of the test: `wcs2:get-scal-req3-kvp` it expects the `GridCoverage` in the capability i.e reason of test failure. Below are the references:

https://github.com/opengeospatial/ets-wcs20/blob/80031ab5ef7233b58468ba1977b40e62bcc0b30c/src/main/scripts/ctl/ext_get-scal.xml#L35-L48

https://github.co

[2019-07-15 05:53] lgoltz commented on #83
As far as I see this issue is related to #37

[2019-07-15 11:07] bangph commented on #70
@lgoltz no, it has not fixed in http://cite.opengeospatial.org/teamengine/listings/srv_local_teamengine-prod_TE_BASE_scripts_wcs_2.0.1_ctl_ext_get-scal.html#wcs2:get-scal-req13
Can you update it to *mul* instead of *div*

[2019-07-17 10:15] keshav-nangare commented on #84
The test is failing due to the extra parameter `DATASTORE` in the service URL.

https://demo.cubewerx.com/cubewerx/cubeserv/cite_wcs201?DATASTORE=Foundation&SERVICE=WCS&REQUEST=GetCapabilities&VERSION=2.0.1

[2019-07-26 13:46] #23 closed

[2019-07-29 08:48] dstenger opened #85 "Update to TEAM Engine 5.4 API"

[2019-07-29 09:10] #85 closed

[2019-07-30 12:56] lgoltz commented on #70
@bangph #43 was fixed for version 1.13 of the ETS. You tested on July 15th, at this time 1.12 was installed on production. Since July 19th 1.14 is installed. The test should be fixed on production now.

[2019-07-30 13:21] bangph commented on #70
@lgoltz Did you see the link I posted and search for `div 2?`
http://cite.opengeospatial.org/teamengine/listings/srv_local_teamengine-prod_TE_BASE_scripts_wcs_2.0.1_ctl_ext_get-scal.html#wcs2:get-scal-req13

[2019-07-30 13:47] dstenger commented on #71
@keshav-nangare Can you please adjust the pull request to new version of REST interface not having version number in path?

[2019-07-30 14:00] dstenger commented on #35
Test of pull request: Test execution is much faster now.

[2019-07-30 14:00] #35 closed

[2019-07-30 14:09] pebau commented on #70
please hold this for a while. At the last TC meeting an update was approved for WCS Scaling, but there is still some discussion pending. I'd come back as soon as the sky is clear on this.

[2019-07-30 14:16] #77 closed

[2019-07-30 14:39] lgoltz commented on #70
@bangph Yes, I did. But it seems that this file was not updated (or removed) at the installation on July 19th. In the ctl script on the server `mul` is used instead of `div` as expected.
I've tested with http://conformance.rasdaman.com/ows?service=WCS&request=GetCapabilities&acceptversions=2.0.1 and the test is successful.

@pebau Ok, but I would prefer to close this ticket and open a new one if a

[2019-07-30 15:01] lgoltz commented on #84
In https://github.com/opengeospatial/ets-wcs20/blob/master/src/main/scripts/ctl/wcs2suite.xml the url is passed to the starting test `wcs2:main`. In this test the url is truncated  (https://github.com/opengeospatial/ets-wcs20/blob/c5de764488f9b1a0bccecf0a4eccef9be891aa5d/src/main/scripts/ctl/wcs2main.xml) and the url (before the '?') passed to the tests, where the capabilities are requested.
The t

[2019-07-31 06:48] lgoltz commented on #83
@pomakis Can you check if this issue is a duplicate of #37?

[2019-07-31 18:59] pomakis commented on #83
I'm not familiar enough with the nuances of #37 to know whether or not it's the same bug as this, but it's certainly related.  All I know is that RectifiedGridCoverage should be a valid CoverageSubtype for this test, yet it's rejected.

[2019-08-08 08:50] keshav-nangare commented on #84
@lgoltz

I agree with you that the test should invoke the GetCapabilites request in `wcs:main ` test to avoid multiple GetCapabilities requests in subtests. But if other tests want to invoke the HTTP request then we have to pass the URL to subtest. If we are passing the URL to subtest then again the same problem will occur. Do you any other idea to fix this issue?

[2019-08-08 10:22] keshav-nangare commented on #71
@dstenger

Updated the PR with the SoapUI project and removed the version parameter from the URI.

Fixed with this commit: adbd63957250c4ca9a1afe356cf5096903f7495b

[2019-08-14 08:12] lgoltz commented on #84
@keshav-nangare The GetCapabilities URL should be available in the Capabilities document (xpath like //OperationsMetadata/Operation[@name='GetCapabilities']/DCP/HTTP/Get/@xlink:href). Subtest should parse the capabailities and use this url for further requests.

[2019-08-14 08:25] keshav-nangare commented on #84
Thanks Lyn for the inputs. I will update the test accordingly.

[2019-08-19 07:23] keshav-nangare commented on #84
@lgoltz @dstenger

Current service [1] is not supporting the `Post` OperationsMetadata. There are lots of tests that are using the request method as "POST" so the currently the service don't have the `POST` URL in its capability document. How we could add extra parameter in the request with method `POST`?

The test `wcs2:post-xml-req3` invoking the request with the method post but it will fail bec

[2019-08-21 08:21] dstenger commented on #84
@keshav-nangare The service does not support POST encoding. So, such tests can be ignored.

[2019-08-22 10:51] keshav-nangare commented on #84
@pomakis

Can you please take look at the following comments?

The current service doesn't have the `<CrsMetadata>` element as it is required for the CRS extension.

[code]
If you observed the HTTP request there are two empty parameters `SUBSETTINGCRS` & `subset`. These parameters empty because the test expecting the element `<crsSupported>` after the `<CrsMetadata>`.

[2019-08-22 14:07] pomakis commented on #84
The problem is that neither the official schema at http://schemas.opengis.net/wcs/crs/1.0/wcsCrs.xsd nor the accompanying example at http://schemas.opengis.net/wcs/crs/1.0/examples/responseGetCapabilities.xml have a `<CrsMetadata>` element.  They put the `<crsSupported>` element as an immediate child of the `<Extension>` element.  And so our server does the same.  I could adjust our server impleme

[2019-08-22 14:17] pebau commented on #84
Keith-
if you feel there is a problem with the standard (as it seems) you can file a change request, via official OGC mechanisms or just by email to me, sumamrising problem and maybe suggested remedy options. I bring it up during the next TC meeting.
-Peter

[2019-08-22 15:30] pomakis commented on #84
Done (change request ID 580).

[2019-09-20 15:36] pomakis opened #86 "Why are get-kvp-crs-* failing?"
I'm trying to run "https://onestop.cubewerx.com/cubewerx/citeWcs201.cgi" through the Web Coverage Service (WCS) 2.0.1 CITE tests (version 1.14), and it's failing all of the get-kvp-crs-* tests.  But I have no idea why.  I believe the server implements these requirements correctly.  The only reason for failure the test suite gives for each of these tests is:

"Error in call to extension function {p

[2019-10-11 09:06] keshav-nangare commented on #78
Added fix for gml:EnvelopeWithTimePeriod element with this commit:  2ca8187bd264b2f1a70dbb03c107c4d1b11172b1

[2019-10-16 09:50] dstenger commented on #86
@keshav-nangare Can you please analyse this issue?

[2019-10-29 00:42] greatzzk opened #88 "problems in checking gml support"
in wcs 2.0.1 compliance testing, there are multiple places that are checking the support of gml before really running into the test codes. such as following:
![image](https://user-images.githubusercontent.com/11200872/67728137-560d1d00-f9a9-11e9-8ab2-aa0c25a183e7.png)
according to 09-146r2, and spec for each extension, it looks like it should check if it has basic gml support, which is: http://www

[2019-10-31 10:32] keshav-nangare commented on #86
[1] https://demo.cubewerx.com/cubewerx/cubeserv/cite_wcs201?DATASTORE=Foundation&SERVICE=WCS&VERSION=2.0.1&REQUEST=GetCapabilities

The  WCS 2.0.1 service [1] is not working.
[code]

[2019-10-31 12:53] pomakis commented on #86
Ooops, there was a server reconfiguration last week that caused this hiccup.  Fixed.

[2019-11-06 13:30] keshav-nangare commented on #86
@dstenger

[1] https://demo.cubewerx.com/cubewerx/cubeserv/cite_wcs201?DATASTORE=Foundation&SERVICE=WCS&VERSION=2.0.1&REQUEST=GetCapabilities

I am able to reproduce this issue with the above [1] service. The test expecting the exception report but the server returned the image in response so the XMLValidating parser is not able parse that response as it's an image. Here is the [error log](https:/

[2019-11-06 14:00] pomakis commented on #86
So you're saying that the following request:

https://demo.cubewerx.com/cubewerx/cubeserv/cite_wcs201?DATASTORE=Foundation&service=WCS&VERSION=2.0.1&request=GetCoverage&coverageid=etopo2&SUBSETTINGCRS=http://www.opengis.net/def/crs/EPSG/0/4326&OUTPUTCRS=http://www.opengis.net/def/crs/EPSG/0/4326&subset=Lat(-89.75,89.75)&subset=Long(-179.75,179.75)

should return an exception report rather than an

[2019-11-13 09:46] dstenger commented on #86
Exception reports are tested but this is just a part of test `wcs2:get-kvp-crs-req9`. In all other cases there is no exception expected.

When considering the attached log file, following error seems to break the tests:
[code]

Thus, there is a problem to parse the response.

@keshav-nangare Can you please analyse why the response cannot be parsed.

[2019-11-13 09:57] keshav-nangare commented on #86
@dstenger

The response is an image and test used the XMLValidating parser to parse the response.

https://demo.cubewerx.com/cubewerx/cubeserv/cite_wcs201?DATASTORE=Foundation&service=WCS&VERSION=2.0.1&request=GetCoverage&coverageid=etopo2&SUBSETTINGCRS=&subset=Lat(-89.75,89.75)&subset=Long(-179.75,179.75)

[2019-11-13 14:01] pomakis commented on #86
If I interpret the log correctly, all three of these calls are failing because the result is expected to be an XML document:

https://demo.cubewerx.com/cubewerx/cubeserv/cite_wcs201?DATASTORE=Foundation&service=WCS&VERSION=2.0.1&request=GetCoverage&coverageid=etopo2&SUBSETTINGCRS=http://www.opengis.net/def/crs/EPSG/0/4326&OUTPUTCRS=http://www.opengis.net/def/crs/EPSG/0/4326&subset=Lat(-89.75,89.75

[2019-11-27 10:04] dstenger commented on #88
Thank you for reporting.

@keshav-nangare Can you please analyse this issue?

[2019-12-13 07:31] keshav-nangare commented on #88
Following is the list of tests that are using `"SupportsGML"` variable to check it supports gml or not:

[A] http://www.opengis.net/spec/GMLCOV/1.0/conf/gml
[B] http://www.opengis.net/spec/GMLCOV/1.0/conf/gml-coverage

- `wcs2:core-main` uses A
- `wcseo:GetCoverage` uses A
- `wcs2:crs` uses B
- `wcs2:get-int-main` uses A
- `wcs2:get-rsub-main` uses B
- `wcs2:get-scal-main` uses A
- `wcs2:post-xml-

[2019-12-16 09:29] pebau commented on #88
Dear all,

in CIS / GMLCOV 1.0 gml-coverage is an abstract core, ie: cannot be
instantiated. The instantiable conformance class is gml, so likely instance
(coverage document) tests should refer to this one, which in turn should invoke
the gml-coverage tests. Hence, suggestion: unify all to using A.

my 2 cents,

Peter

On 13.12.19 08:31, Keshav Nangare wrote:

--
Dr. Peter Baumann
 - Executive Dir

[2019-12-18 09:10] dstenger commented on #88
I agree, @keshav-nangare can you please check if all tests can be updated to use A?

[2019-12-18 09:11] dstenger commented on #88
You can use reference implementations for testing: https://github.com/opengeospatial/cite/wiki/Reference-Implementations

[2020-01-07 13:34] #78 closed

[2020-02-11 17:13] keshav-nangare commented on #33
Replaced VERSION parameter to ACCEPTVERSIONS in all test requests under wcs2:main_test.

[2020-02-18 12:54] keshav-nangare commented on #33
[1] http://ows.eox.at/cite/mapserver?service=wcs&version=2.0.1&request=getcapabilities

I have tested the changes with the service[1] and tests are getting failed from DescribeCoverage and GetCoverage. I have updated the DescribeCoverage and GetCoverage test's and changes pushed in the same branch.
Tested the fix successfully with service[1].

[2020-02-21 14:23] keshav-nangare commented on #88
[1] http://ows.eox.at/cite/eoxserver/ows?service=wcs&version=2.0.1&request=getcapabilities

Updated tests with type A and tested changes successfully with service[1].

[2020-03-18 11:21] dstenger commented on #70
Any updates on this issue?

[2020-03-25 16:48] keshav-nangare commented on #86
@dstenger

The following tests are getting failed, the test uses the XMLValidatingParser to parse the response but the response we get is the image this is the reason for test failure.
Following is snippet we can see the XMLValidatingParser is used in the failed test:
1. Test wcs2:get-kvp-crs-req6
https://github.com/opengeospatial/ets-wcs20/blob/37ce8ace3fd9f7dc9a7b3e23314985acc002cb78/src/main/sc

[2020-04-01 06:05] keshav-nangare commented on #32
@dstenger

Following is the way we are going to fix this extra parameter ignore issue:

1. The tests are not using the query parameter from the provided service. In every test, service is appended with SERVICE, REQUEST & ACCEPTVERSIONS parameter.
2. We will do http ctl:request and will parse the response and will get the URL from the GetCapabilities OperationMetadata with GET/href. This URL has th

[2020-04-03 23:26] coim32 opened #91 "is wcs2:crs-req17 sending a valid XML request?"
request has <wcs:Extension> element after <wcs:DimensionTrim>, is it valid when validating the request against the XSD?
shouldn't <wcs:Extension> be the first child element under <wcs:GetCoverage>?

[2020-04-03 23:33] coim32 opened #92 "what is the expected response for Test wcs2:soap-core-req18"
my service generate the following response and the test fails, it looks to me like a correct soap error response
`<?xml version='1.0' encoding='UTF-8'?>
<soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope">
  <soap:Body>
    <env:Fault xmlns:env="http://www.w3.org/2003/05/soap-envelope">
      <env:Code>
        <env:Value>env:Receiver</env:Value>
      </env:Code>
      <env:Reason

[2020-04-04 00:07] coim32 opened #93 "several test of interpolatin extension does not appears in test result"
I just can see first 3 test but in log I found there are many more tests executed
![image](https://user-images.githubusercontent.com/6456006/78413692-daf20780-75d5-11ea-9628-475ce932ace7.png)

[2020-04-04 00:12] coim32 opened #94 "wcs2:get-int-req17 and wcs2:get-int-req18 have wrong content in interpolationMethod parameter"
attached are log files that show the wrong request
[citeTest.zip](https://github.com/opengeospatial/ets-wcs20/files/4430446/citeTest.zip)

[2020-04-04 07:07] pebau commented on #91
linking Jinsongdi Yu into the conversation, he has done the test suite.

@Jin: any ideas? Would you want to subscribe to this git as well to stay in the
loop?

-Peter

On 04.04.20 01:27, coim32 wrote:

--
Dr. Peter Baumann
 - Executive Director, rasdaman GmbH Bremen (HRB 26793)
   www.rasdaman.com, mail: baumann@rasdaman.com
   tel: 0800-rasdaman, fax: 0800-rasdafax, mobile: +49-173-5837882
 - Pro

[2020-04-06 13:16] dstenger commented on #92
Thank you for reporting.
@keshav-nangare Can you please take a look at the reported behavior?

[2020-04-06 13:18] dstenger commented on #93
Thank you for reporting.
@keshav-nangare Can you please take a look at this?

[2020-04-07 08:44] keshav-nangare commented on #92
@coim32

Can you please provide service to reproduce this issue?

[2020-04-07 18:13] keshav-nangare commented on #32
Fix with #95 PR.

[2020-04-07 21:00] coim32 commented on #92
you can use this one
http://150.136.177.253:8000/oraclespatial/wcs/wfs?service=WCS&VERSION=2.0.1&request=GetCapabilities

[2020-04-08 09:06] keshav-nangare commented on #93
Fixed with #96 PR

[2020-04-13 22:22] coim32 commented on #92
I can't keep the service running for much time, please do the tests asap

[2020-04-16 21:48] coim32 commented on #93
when does this change will be in the OGC teamengine online test suits?

[2020-04-16 22:10] coim32 opened #97 "Test wcs2:get-kvp-crs-req6 first listed crsSupported incompatible with coverage"
test case wcs2:get-kvp-crs-req6 assume the first crsSupported listed in GetCapabilities response is compatible with the first Coverage listed in GetCapabilities response.
First Coverage listed in GetCapabilities could be a GridCoverage, the assumption mentioned before will fail.
Or maybe the first crsSupported listed in GetCapabilities is incompatible with first Coverage listed in GetCapabilities

[2020-04-20 17:38] keshav-nangare commented on #92
@dstenger

I have investigated the issue and able to reproduce on my local machine but I did get the response as reported in the first comment. But I can see the failure is the same.

Please find below request and response for the test `wcs2:soap-core-req18`:
Request
  URI: http://150.136.177.253:8000/oraclespatial/wcs/wfs
  Method: POST
  Body:
[code]
The test is expecting exception report and th

[2020-04-20 20:42] coim32 commented on #92
I figured out what was the problem, the response was a POST response instead of a SOAP response, I'll close the issue now, thanks.

[2020-04-20 20:42] #92 closed

[2020-04-29 08:54] dstenger commented on #84
@pomakis Is any action required for the test suite?

[2020-04-29 14:21] pomakis commented on #84
Well, this test seems to pass in version 1.14 of the test suite, so I guess it's been resolved.  Thanks.

[2020-04-29 15:53] #84 closed

[2020-05-05 08:27] keshav-nangare commented on #94
@coim32

Can you please provide service to reproduce this issue?

[2020-05-25 18:41] #93 closed

[2020-05-25 18:44] dstenger commented on #93
We will update the beta environment (https://cite.opengeospatial.org/te2/) in June.

[2020-05-25 18:54] #32 closed

[2020-05-25 19:06] dstenger commented on #33
Just GetCapabilities requests shall use "ACCEPTVERSION" parameter.
However, the PR also changes "VERSION" to "ACCEPTVERSION" for some non-GetCapabilities requests (See https://github.com/opengeospatial/ets-wcs20/pull/89/files).

@keshav-nangare Can you please update the pull request?

[2020-05-25 19:13] #88 closed

[2020-05-25 19:19] dstenger commented on #71
@keshav-nangare
Can you please also add integration tests as described in https://github.com/opengeospatial/cite/wiki/How-to-run-tests-for-test-suites-with-SoapUI?
You can use following command to verify the integration tests: `mvn clean verify -Pintegration-tests`

[2020-05-27 13:41] keshav-nangare commented on #71
@dstenger

I have added an integration test and updated Jenkins's file according to documentation. The changes are verified with this command `mvn clean verify -Pintegration-tests`.

[2020-05-29 12:06] #71 closed

[2020-06-03 09:26] dstenger commented on #94
@coim32
Is it possible to provide a test service so that we can verify a potential fix?

[2020-06-04 14:37] keshav-nangare commented on #33
@dstenger

I have updated the value of the VERSION parameter to ACCEPTVERSION for GetCapabilities request in all tests. Please find the changes in the same PR.

[2020-06-04 20:36] coim32 commented on #94
you can use this service http://150.136.177.253:8000/oraclespatial/wcs/wfs

[2020-06-08 07:12] keshav-nangare commented on #94
@dstenger

I am able to reproduce the issue and following are my findings:
Request:
[code]
Response:
[code]
I tried different request variations as follows by updating the interpolation element:
  1. I have set each axis attribute value as X and Y with respect to `InterpolationAxis` element.
  2. We can see `interpolationMethod` contains sequence space-separated URIs. As per test implementation, I

[2020-06-08 19:31] coim32 commented on #94
Check changes in pull request #96 Fixed issue in test result by adding missing bracket. they may be related.
I found a bug in the my server implementation so I can't provide a working request.
I can see 2 things in the getCoverage request included in your comment:
`<int:InterpolationAxes>
                        <int:InterpolationAxis axis="X Y"
                                               inter

[2020-06-09 07:15] keshav-nangare commented on #94
@coim32

I have tried the following request but still got the same response.
Request:
[code]
Response:
[code]

[2020-06-09 07:15] keshav-nangare commented on #94
@coim32

[2020-06-09 07:17] keshav-nangare commented on #94
@coim32

The provided service is unavailable, can you please check it?
Service: http://150.136.177.253:8000/oraclespatial/wcs/wfs?service=WCS&VERSION=2.0.1&request=GetCapabilities

[2020-06-10 08:45] dstenger commented on #94
@coim32 Are you going to fix your server implementation so that we can use it for testing?

[2020-07-14 07:29] ghobona commented on #55
@keshav-nangare

If it's a .tif image then you could use Java's ImageIO class to check whether it is an image.

For example, the sample code below returns the width and height of an image if the file is an image. If the file is not an image, then an Exception is thrown.

[code]

[2020-07-15 08:27] ghobona commented on #55
@keshav-nangare @ghobona discussed on 2020-07-15.

This issue is related to https://github.com/opengeospatial/ets-wcs11/issues/41 because of the multipart aspect.

They may have the same solution.

[2020-07-22 09:19] keshav-nangare commented on #55
Discussed on 22-07-2020 with @dstenger and @ghobona

Proposed solution:

Add validation for a response with following content-type:

`"image/*" OR "application/x-hdf5"`

If the response has above content-type then test should pass otherwise fail

[2020-07-22 14:51] keshav-nangare commented on #55
Fixed with #98 PR.

[2020-09-23 10:04] ghobona commented on #86
Discussed with @keshav-nangare about using a solution similar to the one used to fix https://github.com/opengeospatial/ets-wcs20/issues/55#issuecomment-662343885

[2020-10-01 08:34] dstenger commented on #86
@keshav-nangare Can you please check why pomakis server is returning an image (non-XML) and other servers (e.g. reference implementation) are returning XML for the exact same tests?

[2020-10-07 17:44] dstenger commented on #86
@pomakis What kind of coverage does your service return? Can you please check whether the preconditions of the test suite are fulfilled (see https://opengeospatial.github.io/ets-wcs20/)? The first coverage offering should be a RectifiedGridCoverage with at least 2 dimensions.

[2020-10-07 19:37] pomakis commented on #86
The first coverage is a RectifiedGridCoverage with two dimensions.

[code]

[2020-10-14 09:37] dstenger commented on #86
Discussion 2020-10-14: Only execute XML schema validation if response is an XML document. If schema validation is skipped, check if response is an image and pass the test. In all other cases, the test should fail.

[2020-10-15 05:50] keshav-nangare commented on #86
@dstenger @pomakis

[1] https://demo.cubewerx.com/cubewerx/cubeserv/cite_wcs201?DATASTORE=Foundation&SERVICE=WCS&VERSION=2.0.1&REQUEST=GetCapabilities

I am not able to test the new changes with the service [1] as the tests are getting skipped because of the server does not support the gml coverage.
Can you please provide another service?

[2020-10-15 19:31] pomakis commented on #86
I don't understand.  Is support for GML coverages a prerequisite for these tests?

[2020-10-16 09:52] keshav-nangare commented on #86
Yes, support for GML coverage is a prerequisite for these tests.

[2020-10-16 13:34] pomakis commented on #86
Oh.  So is there any way to CITE-certify a WCS 2.0 server that supports only GeoTIFF coverages?

[2020-12-22 11:42] keshav-nangare opened #100 "Add template to get an XML/JSON response via rest endpoint"
Please see opengeospatial/cite#56

[2021-01-06 10:24] ghobona commented on #86
Discussion 2021-01-06

TODO: @ghobona to review the implemented approach in relation to the criteria described in https://github.com/opengeospatial/ets-wcs20/issues/86#issuecomment-708285344

[2021-01-07 11:46] keshav-nangare commented on #100
Fixed with #101 PR.

[2021-01-26 08:32] ghobona commented on #86
I reviewed the [PR](https://github.com/opengeospatial/ets-wcs20/pull/98) today and it implements the [criteria](https://github.com/opengeospatial/ets-wcs20/issues/86#issuecomment-708285344) we agreed on.

[2021-01-26 09:09] ghobona commented on #86
Regarding the question at https://github.com/opengeospatial/ets-wcs20/issues/86#issuecomment-710050894 of whether a WCS that only supports GeoTIFF coverages could be certified as compliant, the Scope section of the WCS 2.0.1 standard states that "This core does not prescribe support for any particular coverage encoding format. This also holds for GML as a coverage delivery format: while GML consti

[2021-01-26 09:32] pebau commented on #86
Dear all,

the GeoTIFF encoding is specified in
https://portal.opengeospatial.org/files/?artifact_id=54813, listed on
https://www.ogc.org/standards/wcs#downloads .
The idea is that any encoding supported must deliver the information a coverage
comprises, understanding that formats may not support all constituents.

HTH,
Peter

On 26.01.21 10:10, ghobona wrote:

--
Dr. Peter Baumann
 - Executive Di

[2021-01-26 09:41] ghobona commented on #86
Thanks @pebau . That helps.

[2021-01-27 09:41] ghobona commented on #86
2021-01-27

@ghobona discussed this issue with @keshav-nangare and @dstenger today.  We noticed that the GeoTIFF Coverage Encoding Profile [OGC 12-100r1](http://www.opengis.net/doc/IS/app_schema_profile/wcs_geotiff/1.0) references the [old GeoTIFF](http://www.remotesensing.org/geotiff/spec/geotiffhome.html) specification. We agreed to request the Coverages SWG to update the Profile to reference th

[2021-03-03 19:21] coim32 opened #102 "Testing wcs2:get-kvp-core-req1-9 fails with no explanation"
when I ran the test against my test server it just return
Error in call to extension function {public org.w3c.dom.NodeList com.occamlab.te.TECore.request(org.w3c.dom.Document,java.lang.String) throws java.lang.Throwable}: Exception in extension function java.lang.RuntimeException: Parser {http://www.occamlab.com/te/parsers}XMLValidatingParser threw an exception.
Result: Failed

[2021-03-04 11:20] dstenger commented on #102
Thank you for reporting.

@keshav-nangare Can you please analyse the reported behavior?

[2021-03-09 11:54] keshav-nangare commented on #102
@coim32

Can you please provide service to analyze the reported behavior?

[2021-03-09 22:45] coim32 commented on #102
Is working now, I guess it could be a out of memory error that are common on teamengine

[2021-03-09 22:45] #102 closed

[2021-03-19 12:34] keshav-nangare commented on #94
@coim32

I tried with the below request and got a response containing an exception report.
Request:
[code]

Response:
[code]

Can you please help me for getting a valid response?

[2021-03-19 21:23] coim32 commented on #94
please try again the same request

[2021-03-23 10:10] keshav-nangare commented on #94
Thank you @coim32, I got a valid response.

[2021-03-23 10:21] keshav-nangare commented on #94
I have updated the tests to use the correct `axisLabels` and `InterpolationSupported` parameters in the requests. Also, fixed the report generation problem. Please find the changes in #105 PR.

[2021-03-24 00:07] coim32 commented on #91
is there an xsd to validate a GetCoverage request that shows if extension element has a constrain in the order it can appear?
xs:all can be used to indicate there  is no order on the elements as test cases is defined but the elements DimensionSlice and DimensionTrim require maxOccurs="unbounded" which is not allowed in xs:all

[2021-04-27 20:54] #100 closed

[2021-05-27 17:16] #55 closed

[2021-05-27 17:21] #94 closed

[2021-07-05 08:40] #6 closed

[2022-03-03 11:29] bangph opened #108 "Run OGC WCS 2.0.1 core standard take hours and not finish"
I used http://cite.opengeospatial.org/teamengine/test.jsp on Chrome to run just WCS 2.0.1 core standard for this endpoint
http://conformance.rasdaman.com/rasdaman/ows?service=WCS&version=2.0.1&request=GetCapabilities

and it took more than 4 hours and still it haven't finished yet.

Now it is running at this test

`
 Testing wcs2:get-kvp-core-req33 type Mandatory in Test Mode with defaultResult Pa

[2022-03-04 11:15] bangph opened #107 "OGC CITE fails immediately with added INSPIRE elements in WCS GetCapabilities when testing OGC WCS 2.0.1"
I tested OGC CITE on this endpoint http://conformance.rasdaman.com/rasdaman/ows?service=WCS&version=2.0.1&request=GetCapabilities with this session: http://cite.opengeospatial.org/teamengine/viewSessionLog.jsp?session=s0141&stop=undefined&t=1646391922635

The full log file can be downloaded from: [s0141.zip](https://github.com/opengeospatial/ets-wcs20/files/8185373/s0141.zip)

![image](https://use

[2022-03-15 16:50] dstenger commented on #107
Thank you for reporting.
We will do further investigation.

[2022-04-05 15:03] dstenger commented on #108
This issue is probably the reason for my previously mentioned problem reproducing the issue? #107
Is it possible to provide a service which can be used to reproduce the problem?

[2022-04-06 03:01] bangph commented on #108
@dstenger I'm in my home country now (southest Asia), and http://cite.opengeospatial.org/teamengine/ is just not loadable after 10 minutes with error:

`502 Bad Gateway
nginx/1.18.0 (Ubuntu)`

As I cannot access teamengine webpage to recheck the problem of this ticket, so here is the endpoint for you, please check that:

http://conformance.rasdaman.com/rasdaman/ows?service=WCS&version=2.0.1&reques

[2022-04-06 03:02] bangph commented on #108
@dstenger FYI: Interestingly, http://cite.opengeospatial.org/te2/ is very fast to access. It should be the case as well for http://cite.opengeospatial.org/teamengine/ (not loadable)

[2022-04-06 03:04] bangph commented on #108
@dstenger I'm testing endpoint http://conformance.rasdaman.com/rasdaman/ows?service=WCS&version=2.0.1&request=GetCapabilities on http://cite.opengeospatial.org/te2, will let you know if it can finish

[2022-04-06 03:07] bangph commented on #108
@dstenger It works fast! Under few minutes to run test on beta teamengine http://cite.opengeospatial.org/te2/viewOldSessionLog.jsp?session=s0108.

![image](https://user-images.githubusercontent.com/6914451/161887994-4522c2c3-b334-4bd4-a2e4-e602fd658a13.png)

Please check http://conformance.rasdaman.com/rasdaman/ows?service=WCS&version=2.0.1&request=GetCapabilities on http://cite.opengeospatial.org

[2022-04-06 03:14] bangph opened #109 "TeamEngine beta with XML parser error javax.xml.parsers.FactoryConfigurationError: Provider org.apache.xerces.jaxp.DocumentBuilderFactoryImpl not found"
I've tested WCS 2.0.1 core standard with this endpoint http://conformance.rasdaman.com/rasdaman/ows?service=WCS&version=2.0.1&request=GetCapabilities

on teamengine beta  http://cite.opengeospatial.org/te2/viewOldSessionLog.jsp?session=s0108

It failed in some test cases, I wanted to look at the log by clicking on "View Details"

![image](https://user-images.githubusercontent.com/6914451/161888539

[2022-04-06 03:17] bangph commented on #109
@dstenger  It seems the old style results report has this problem only.

[2022-04-06 09:28] dstenger commented on #108
On http://cite.opengeospatial.org/teamengine/ it also took just a few minutes to run the tests with your service.
Can you please re-check if you can run the test suite on Production? If you still have problems, we have to check our infrastructure.

[2022-04-06 09:35] bangph commented on #108
@dstenger thanks for rechecking. I can access to http://cite.opengeospatial.org/teamengine fast now and the tests run quickly which make me happy :).

It is much more better than I expected.

[2022-04-06 09:35] #108 closed

[2022-04-06 12:21] dstenger commented on #109
Thank you for reporting. We will do further investigation.

I am able to reproduce the problem on te2. I realized that the problem does not occur on Production.
Also, I tried to reproduce the problem on a locally running instance of Beta and the problem does not occur.
We have to check why the problem occurs on te2.

I just restarted te2 and now the problem seems to be gone. @bangph Can you please

[2022-04-06 12:54] #109 closed

[2022-04-07 07:47] bangph opened #110 "WCS processing wcs2:get-proc-req15-17 failed with Parser {http://www.occamlab.com/te/parsers}HTTPParser threw an exception"
I use this endpoint http://conformance.rasdaman.com/rasdaman/ows?service=WCS&version=2.0.1&request=GetCapabilities to test WCS WCPS 2.0 (Processing).

It failed in reqd15-17 with strange error in teamengine:

[code]

![image](https://user-images.githubusercontent.com/6914451/162148026-29fc6ce8-c14b-46fd-ba58-f8c9c0915e37.png)

I tried to understand what it tested, here it just sends a WCPS query w

[2022-04-07 11:28] dstenger commented on #110
Thank you for reporting. We will do further investigation.

[2022-04-07 11:43] dstenger commented on #110
The error can also be reproduced on a local environment.

Following StackTrace is logged:
[log.txt](https://github.com/opengeospatial/ets-wcs20/files/8442477/log.txt)

[2022-04-07 11:58] dstenger commented on #110
It seems that following request body returns an image (extracted from the test).
[code]

However, the test expects XML.

[2022-04-07 11:59] dstenger commented on #110
@bpross-52n Can you please do further investigation?

[2022-04-07 12:05] bangph commented on #110
@dstenger thanks for your quick investigation. I'm not sure if the test suite for WCS Processing has changed recently or not. I hope @bpross-52n can have some ideas soon.

[2022-04-07 12:08] dstenger commented on #110
No, this code has not been changed for a long time (last commit is from 2015). Can you recall if you were able to pass this test in the past?

[2022-04-07 12:45] bangph commented on #110
@dstenger yes, last year I ran it for renewing OGC CITE certificates without problem. Not sure what is wrong here.

[2022-04-07 12:49] bangph commented on #110
@dstenger FYI: I'm using a new software version on http://conformance.rasdaman.com/rasdaman/ows?service=WCS&version=2.0.1&request=GetCapabilities. I can check an older version of it which passed this requirements last years as well. It may give some ideas.

[2022-04-07 13:28] bangph commented on #110
@dstenger I think the reason is, this req15-17 needs to have SOAP body to wrap the binary content. That doesn't exist in our new software and I will fix that.

SOAP:

https://www.informit.com/articles/article.aspx?p=327825&seqNum=17

I will close this ticket.

[2022-04-07 13:28] #110 closed

[2022-06-10 01:25] greatzzk opened #111 "My WCS 2.0.1 service fails at the very beginning when run against compliance test"
Could you help analyze what is the problem?
http://52.55.216.140:6080/arcgis/services/mynetcdf/ImageServer/WCSServer?request=GetCapabilities&service=WCS
![image](https://user-images.githubusercontent.com/11200872/172971548-c669ab3f-a56b-432e-a340-d955f5f37ec9.png)

Test wcs2:main type Mandatory default result Passed (s0108)

Assertion: Prune query parameters if present.

Request d13242e33_1:
   Me

[2022-06-10 10:46] dstenger commented on #111
Thank you for reporting.
Unfortunately, I am not able to access the provided test service to reproduce the reported behavior. Is it possible to make it available for me?

[2022-06-10 10:55] dstenger commented on #111
I just tested the provided service against https://cite.ogc.org/teamengine/.

I am able to complete the test suite successfully and just the test wcs2:OWSCommon_exception fails four times:

[code]

Here, the wrong HTTP status code is returned by the service.

[2022-06-10 17:54] greatzzk commented on #111
@dstenger i still cannot get a successful run against ogc team engine wcs 2.0.1 core. I will contact you privately for details. sending an email to (cite@lat-lon.de)

[2022-06-20 13:13] dstenger commented on #111
Issue was solved offline. We identified an issue with the documentation:

![image001](https://user-images.githubusercontent.com/2989166/174609556-42c236d9-5e21-47c6-92ab-571a934241b1.png)

[2022-09-01 11:38] dstenger opened #113 "Test get-kvp-core-req41 is failing on Beta environment"
**Describe the bug**
Test get-kvp-core-req41 is failing on Beta environment. No error message is printed and all sub-tests are passing.

This failure is not occurring on Production environment although on both environments test suite version 1.17 is running.

So, the failure might be related to the update of the TEAM Engine version (5.5.2) on Beta.

**To Reproduce**
Steps to reproduce the behavior

[2022-09-08 09:36] bpross-52n commented on #113
This is what I found out:
Actually, the test should also fail on production. At least one of the subtests fails.
This [request](http://ows.eox.at/cite/mapserver?request=GetCoverage&coverageid=MER_FRS_1PNUPA20090701_124435_000005122080_00224_38354_6861_RGB&service=WCS&VERSION=2.0.1&subset=dimension_bogus(-36.1114206)) for example should return an exception containing 'InvalidAxisLabel', which it do

[2022-10-20 08:40] dstenger commented on #113
Next steps:
- Create unit tests in TEAM Engine to reproduce the failure.
- Fix the problem either in TEAM Engine or by refactoring the test suite.

[2022-11-03 10:26] dstenger commented on #113
An issue was created for TEAM Engine: https://github.com/opengeospatial/teamengine/issues/560

[2022-11-14 11:30] #113 closed